<div class="sans_subhead font_ee text_left padding_bottom_medium padding_top_large">
	<img src="/images/1.svg" style="opacity:0.75;width:20px;display:inline-block;vertical-align:middle;" /> Choose the sample invitation suite you'd like to receive:
</div>

<div id="choose_sample" class="width_80 mobile_width_95 centred padding_top_medium" style="border:1px solid grey; border-radius:20px;">
	
	
	<div id="sample_slides" class="centred width_75 phablet_width_70 mobile_width_95">
		
		<% products.forEach(function(product) { %>
		<img style="border-radius:20px;" sizes="(max-width: 1200px) 95vw,100vw" srcset="/images/invitations/<%= product.name %>/browse_700.jpg 700w, /images/invitations/<%= product.name %>/browse.jpg 1300w, /images/invitations/<%= product.name %>/browse_1500.jpg 2000w" alt="Wedding stationery suite">
		
		<% }) %>
        <a href="#" class="slidesjs-previous slidesjs-navigation"><img src="/images/left-chevron.svg" class=" padding_top_medium w50px inline"></a> 
        <a href="#" class="slidesjs-next slidesjs-navigation"><img src="/images/right-chevron.svg" class=" padding_top_small w50px inline"></a>
	</div>
	
	
	<div class="serif_headline font_c letter-spaced padding_top_small padding_bottom_medium" id="sample_name">
		<%= products[0].clean_name %>
	</div>
</div>






<div class="sans_subhead font_ee text_left italic padding_bottom_medium padding_top_large">
	<img src="/images/2.svg" style="margin-top:-2px;width:20px;display:inline-block;vertical-align:middle;opacity:0.4S;" /> 
	Enter your name and address&hellip;
</div>

<form class="pure-form form-aligned padding_top_medium" name="sample" id="form_sample" >
	<div class="width_80 centred">
		<fieldset>
			<div class="pure-control-group">
				<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden error" style="color:#999" id="error_name"><img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your name</p>
				<input type="text" autocomplete="name" id="name" name="name" placeholder="Your name"></input>
			</div>
	
			<div class="pure-control-group">
				<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden error" style="color:#999" id="error_email"><img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your email</p>
				<input type="email" id="email" autocomplete="email" name="email" placeholder="Email"></input>
			</div>
	
			<div class="pure-control-group">
				<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden error" style="color:#999" id="error_address"><img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your house number or name</p>
				<input type="text" autocomplete="shipping street-address" id="address" name="address"  placeholder="House number or name">
				</input>
			</div>
	
			<div class="pure-control-group">
				<p class="sans  font_ee average_line_spacing padding_top_medium centred hidden error" style="color:#999" id="error_postcode"><img src="/images/furniture/danger.svg" style="width:25px;opacity:0.4" /> Please enter your postcode</p>
				<input type="text" id="postcode" name="postcode" autocomplete="shipping postal-code" placeholder="Your postcode"></input>
			</div>
		</fieldset>
	</div>
	
	<input type="hidden" name="page" id="page" value="<%- page %>"></input>




















<div class="sans_subhead font_ee text_left padding_bottom_medium padding_top_large margin_bottom_2em">
	<img src="/images/3.svg" style="width:20px;display:inline-block;vertical-align:middle;opacity:0.75" />
	Press the button!
</div>
	
	<input type="hidden" name="which_sample" id="which_sample" value="<%= products[0].clean_name %>" />
	<button type="submit" id="get_sample" class="centred pure-button pure-button-primary">
	<span id="post_text">Post my sample box now!</span>
	<img src="/images/furniture/check.svg" id="form_check" style="display:none;width:80px;padding-top:1em;padding-bottom:1em;" />
	<img src="/images/furniture/PayPal.svg" id="paypal_logo" style="display:none;width:140px;padding-top:12px;opacity:0.9" />
	<img src="/images/furniture/ellipsis.svg" id="form_sample_spinner"/>
	</button>

</form>
