<!doctype html>

	<head>

		<%- include("partials/script_google_tag_manager") %>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="/javascripts/isInViewport.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>

		<script src="/javascripts/jquery.slides.min.js"></script>
		<meta name="viewport" content="initial-scale=1,user-scalable=no">
		<link href="http://fonts.googleapis.com/css?family=Junge|Playfair+Display+SC|Raleway:200,200i,300,300i,400,400i" rel="stylesheet">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/top_nav.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/forms.css" type="text/css">
		
	
	</head>

<body>

	<%- include("partials/script_noscript_gtm") %>
	<%- include("partials/navigation/header") %>
<div class="padding_top_medium">&nbsp;</div>
	<div class="centred padding_bottom_small padding_top_large phablet_width_90 bring_to_front subhead font_c phablet_font_aa mob_font_b width_50 tablet_width_80 mobile_width_90">
 
From the moment your guests see the envelope, they&rsquo;ll know it&rsquo;s something special&hellip;
 
	</div>


<!-- VIDEO--------------------------------------------
--------------------------------------------------------
--------------------------------------------------------->

	<div class="video">
		<video muted preload loop autoplay playsinline src="/images/invitations/ace-of-hearts/" class="mobile_no_rounded mobile_full_width phablet_width_70 tablet_width_70 width_60 centred" >
			<source id="first_video_source" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	
	

	<div class="centred padding_bottom_small padding_top_medium phablet_width_90 bring_to_front subhead font_d  phablet_font_aa mob_font_c width_50 tablet_width_80 mobile_width_90">
 
<br/>
		<div class="top_dotted full_width"></div>
		<img src="/images/furniture/shell.svg" class="shell padding_bottom_small" />
	
Get your own sample box, usually worth £7.99, completely FREE now. Each beautifully wrapped box contains the following goodies:
 
	</div>
  

	<div class="padding_top_small centred phablet_width_80 width_50 tablet_width_70 mobile_width_97 margin_bottom_large">

		<img src="/images/product/samplebox.png" style="width:95%;max-width:350px;" />

		<%- include("partials/html_flexbox_benefits") %>

		<div class="sans_subhead font_ee text_left padding_bottom_medium padding_top_large">

		<img src="/images/1.svg" class="valign_middle opacity7 w20px inline_block" /> Choose the sample invitation suite you'd like to receive:

	</div>

	<div id="choose_sample" class="width_80 mobile_width_95 centred padding_top_medium rounded_corner_20" style="border:1px solid grey;">

		<div id="sample_slides" class="centred width_95 phablet_width_95 mobile_width_95">

			<% products.forEach(function(product) { %>
				<img style="border-radius:20px;" sizes="(max-width: 1200px) 95vw,100vw" srcset="/images/invitations/<%= product.name %>/collage_700.jpg 700w, /images/invitations/<%= product.name %>/collage_1300.jpg 1300w, /images/invitations/<%= product.name %>/collage_1500.jpg 2000w" alt="Wedding stationery suite" class="rounded_corner_20">
			<% }) %>

      <a href="#" class="slidesjs-previous slidesjs-navigation">
      	<img src="/images/left-chevron.svg" class="element_hover padding_top_medium w50px inline">
      </a>
      
      
       
       
      <a href="#" class="slidesjs-next slidesjs-navigation">
      	<img src="/images/right-chevron.svg" class="element_hover padding_top_small w50px inline">
      </a>

		</div>


		<div class="serif_headline font_c letter-spaced padding_top_small padding_bottom_medium" id="sample_name">
			<%= products[0].clean_name %>
		</div>
	</div>


	<%- include("partials/html_sample_form", { bullets: [2,3], chosen_sample:products[0].clean_name }) %>




</div>
</div>

  
  
  
  
	<article id="homepage_copywriting" class="padding_top_large centred phablet_width_80 width_50 tablet_width_70 mobile_width_97">

		<div class="top_dotted full_width"></div>
		<img src="/images/furniture/shell.svg" class="shell padding_bottom_medium" />

		<h2 class="subhead font_c mob_font_c centred">
			It starts with the envelope.
		</h2>

		<h2 class="subhead font_d mob_font_d centred">
			Your envelope is the first thing your guests will see, and the first impression they will have of your big day.
		</h2>



		<p class="body">It should surprise, impress and delight them: make them feel excited to open it and find out what's inside.</p>
		
		<p class="body">It shouldn't feel like a birthday card from Aunt Edith.</p>

		<p class="body">And it shouldn't feel like an afterthought:</p>
		
		<p class="body">You wouldn't wrap a gift badly, so why settle for a dull, plain envelope?</p>

	</article>
















	<article id="homepage_copywriting" class="centred phablet_width_80 width_50 tablet_width_70 mobile_width_97">

		<p class="body">That's why our envelopes come as something of an unexpected surprise:</p>
		
		<p class="body">Tailor-made by hand, and imprinted with your own monogram, each envelope is optionally adorned with a breathtaking foil seal and printed inside and out with a matching design that co-ordinates beautifully in the
			same colour as the invitation it contains.</p>

		<p class="body">Each envelope comes individually addressed to your guests: and if you opt for our box-envelopes, your guests really will feel like they are opening an invitation to an important event. </p>

		<h2 class="width_66 font_d mob_font_d  subhead mobile_width_90">
			Our highly bespoke envelopes lend an exclusivity to your wedding invitations that will have your guests wondering how you made them.
		</h2>

		<h2 class="width_90 font_c mob_font_c  text_center padding_bottom_small subhead">
			But the envelopes are just the beginning...
		</h2>

	</article>










<!-- VIDEO--------------------------------------------
--------------------------------------------------------
--------------------------------------------------------->

	<div class="video">
		<video preload muted loop autoplay playsinline id="second_video" src="/images/invitations/art-deco/" class="mobile_no_rounded mobile_full_width phablet_width_70 tablet_width_70 width_60 centred" >
			<source id="second_video_source" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>

	<div class="width_30 phablet_width_80 tablet_width_70 mobile_width_80 centred caption clear">
		<img src="/images/homepage/pointer_up.svg" class="w12px margin_bottom_small" />
		You won't find anything like our exclusive envelopes: too many beautiful invitations are let down by boring unco-ordinating envelopes that leave them feeling unfinished. Our co-ordinating envelopes are the pièce de résistance that your guests won't be able to stop looking at.
	</div>














	<article id="homepage_copywriting" class="centred phablet_width_80 width_50 tablet_width_70  mobile_width_97">

		<div class="padding_top_medium"></div>


		
		<h2 class="width_66 font_d mob_font_d  subhead mobile_width_90">Inside, you'll find your invitation protected by layers of tissue paper, light as a feather and again printed and watermarked with your design. </h2>

		<p class="body">As well as adding an angelic beauty, it will make your guests feel like they're opening a box containing an expensive of designer shoes rather than just pulling a card from an envelope.</p>



		<%- include("partials/html_chloe_testimonial") %>



		<p class="body">The next step will see your guests removing one of a range of embellishments which add that wow factor:</p>

		<h2 class="subhead width_66 text_center font_d mob_font_d mobile_width_90">
			Whether it's uwrapping the paper sleeve adorned with your monogram, unbuckling the gently glinting diamante ribbon or untying the bow, it all adds to the excitement.
		</h2>

		<p class="body">A delicate vellum cover, semi-transparent like a pane of frosted glass, softly mutes your card like a halo: as it falls away, your chosen colours&mdash;printed in solid wax that feels slightly raised as you run your finger over it&mdash;will seem even
			deeper and bolder.</p>

		<p class="body">And the card itself, available in a variety of textures, creates a tactile satisfaction as it reveals the details of your important ceremony. </p>


		<h2 class="text_center subhead width_66 font_d mob_font_d mobile_width_90">
			These are just a few of the little details that make our invitations&mdash;	<span class="slant">your invitations</span>&mdash;a cut above the rest.
			</h2>


		<h2 class="text_center subhead width_66 font_d mob_font_d mobile_width_80 padding_bottom_large">
			And it's in the little details that the big impressions get made.
		</h2>



		<p class="body">But don't take my word for it.</p>
		<p class="body">if you haven't already ordered your free sample box, don't miss the opportunity to do so now: <a class="bottom_dotted" href="/products">browse our designs</a> and judge for yourself. </p>

<br/><br/>
		<div class="top_dotted full_width"></div>
		<img src="/images/furniture/shell.svg" class="shell padding_bottom_large" />









		<p class="body margin_bottom_large">P.S. If you have any questions at all, please just drop me an email at
			<a href="mailto:david.p@casamiento.co.uk" class="bottom_dotted hover_1_underline">david@casamiento.co.uk</a>,
			or feel free to
			<a href="http://www.facebook.com/davidos.80" class="bottom_dotted hover_1_underline">add me on Facebook</a>
			<a href="http://www.facebook.com/davidos.80">
			<img src="/images/social_media_buttons/facebook.svg" class="w15px inline element_hover" /></a>
			and send me a message!
		</p>

	</article>


		<%- include("partials/navigation/footer") %>
		<%- include("partials/scripts") %>
		<%- include("partials/script_video") %>
		<%- include("partials/script_send_sample") %>

</body>

</html>
