<!doctype html>

<head>

	<%- include("partials/script_google_tag_manager") %>
	
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-955776693"></script>
<style>
#sample_slides {display:none; }
	* { border:0;padding:0;margin:0; }
.w50px { width:50px; }
.w20px { width:20px; }
.inline { display:inline; }
img,
.centred,
.subhead {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.width_66 { width:66%; }
#casamiento_logo {
    position: fixed;
    width: 182px;
    padding: 5px;
    border-bottom-right-radius: 10px;
}

.left { float: left; }

.rounded_corner_20 { border-radius:20px; }
#browse_container {
    width: 225px;
    position: fixed;
    right: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 5px 5px 5px;
    z-index:999999999999999999999999999999999999999999999999999999999999999999;
}


#book { width: 50px; }

#dreams_slogan {
    right: 0;
    padding-left: 5px;
    position: fixed;
    border-bottom-left-radius: 10px;
    width: 180px;
}

@media all and (min-width: 100px) and (max-width: 600px) {

#casamiento_logo {
        position: static;
        width: 120px;
        float: left;
        border-bottom-right-radius: 5px;
    }
    #browse_container { width: 82px; }

    #book {
        width: 25px;
        margin: 0 auto;
        padding-top: 2px;
    }
    #dreams_slogan {
        padding-top: 8px;
        float: right;
        position: static;
        padding-left: 2px;
        border-bottom-left-radius: 5px;
        width: 135px;
        z-index:500000000000000000000000;
    }

}
</style>
	<meta name="viewport" content="initial-scale=1,user-scalable=no">
</head>
































<body>

	<%- include("partials/script_noscript_gtm") %>
	<%- include("partials/navigation/header") %>
	
	
	
	
	
	
	
	
	

	
	

<div id="loading" class="left rounded_corner_20 mobile_no_rounded centred width_66 padding_top_medium phablet_no_float tablet_no_float mobile_full_width">
<img sizes="(max-width: 1200px) 100vw,66vw" srcset="
			/images/invitations/ace-of-hearts/collage_100.jpg 800w, 
			/images/invitations/ace-of-hearts/collage_100.jpg 2000w" 			
			alt="Ace of Hearts wedding invitations"/>
		
	</div>
	

	
	
<div id="sample_slides" class="left rounded_corner_20 mobile_no_rounded centred width_66 padding_top_medium phablet_no_float tablet_no_float mobile_full_width">
	<% [ "ace-of-hearts", "art-deco"].forEach(function(product) { %><img sizes="(max-width: 1200px) 100vw,66vw" srcset="/images/invitations/<%= product %>/collage_800.jpg 800w, 	/images/invitations/<%= product %>/collage_800.jpg 1000w,	/images/invitations/<%= product %>/collage_800.jpg 1300w,			/images/invitations/<%= product %>/collage_800.jpg 1500w,						/images/invitations/<%= product %>/collage_800.jpg 2000w" 			alt="<%= product %> wedding invitations"/><% }) %>
		
	</div>
	
	


	
	<div class="margin_left_67 centred  padding_top_small mobile_full_width phablet_full_width tablet_full_width mobile_no_margin phablet_no_margin tablet_no_margin">
		
		<div class="subhead font_d phablet_font_aa mob_font_d width_90 tablet_width_80 mobile_width_90">
		We're giving away 500 free sample boxes, usually worth £7.99, completely FREE: don't miss out&mdash;get yours now...
		</div>
	
		<div class="sans_subhead font_f text_left padding_bottom_medium ">

			<svg  class="w20px" viewBox="0 0 512 512">
				<path d="M256,0C114.609,0,0,114.609,0,256c0,141.391,114.609,256,256,256c141.391,0,256-114.609,256-256
		C512,114.609,397.391,0,256,0z M256,472c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z
		"/>
				<path d="M249.703,201.25H188v-25h19.312c6.859,0,13.422-1.219,19.5-3.594c6.172-2.375,11.438-5.641,15.797-9.797
			c4.358-4.203,7.922-9.25,10.547-15.234c2.734-5.906,4.047-12.5,4.047-19.625H284v256h-34.297V201.25z"/>
			</svg>

 			Choose the sample invitation suite to receive:

		</div>
	
		<div class="centred">
	
			<a href="#" id="slides_previous">
				<svg viewBox="0 0 444.531 444.531" class="element_hover padding_top_small w50px inline">
					<path d="M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835
		l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425
		c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564
		s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978
		L213.13,222.409z" />
			</svg>

			</a>
			
			<a href="#" id="slides_next"><svg viewBox="0 0 444.819 444.819" class="element_hover padding_top_small w50px inline">

	<path d="M352.025,196.712L165.884,10.848C159.029,3.615,150.469,0,140.187,0c-10.282,0-18.842,3.619-25.697,10.848L92.792,32.264
		c-7.044,7.043-10.566,15.604-10.566,25.692c0,9.897,3.521,18.56,10.566,25.981l138.753,138.473L92.786,361.168
		c-7.042,7.043-10.564,15.604-10.564,25.693c0,9.896,3.521,18.562,10.564,25.98l21.7,21.413
		c7.043,7.043,15.612,10.564,25.697,10.564c10.089,0,18.656-3.521,25.697-10.564l186.145-185.864
		c7.046-7.423,10.571-16.084,10.571-25.981C362.597,212.321,359.071,203.755,352.025,196.712z"/>

</svg> 
			</a>
		
			<div class="serif_headline font_c letter-spaced padding_top_small padding_bottom_medium" id="sample_name">
				A Love Story
			</div>
		</div>
		
		
	
	</div>

  
  
  
  
  
  
  
  
  
  
  
  	
	
	
	
	
	
	
	
	
	


	<div class="centred clear padding_bottom_small padding_top_medium phablet_width_90 bring_to_front subhead font_c  phablet_font_aa mob_font_c width_40 tablet_width_80 mobile_width_90">
 
		<br/>

		<div class="top_dotted full_width"></div>
	
	
		<img src="/images/furniture/shell.svg" class="shell" />
	 Each beautifully wrapped box contains the following goodies:
 
	</div>
 
 





	<div class="centred phablet_width_80 width_50 tablet_width_70 mobile_width_97 margin_bottom_large">


		<%- include("partials/html_flexbox_benefits") %>

	</div>










	<img src="/images/sample_unboxing/sample_frame_1_1920.jpg" class="rounded_corner_20 width_50 phablet_width_66 tablet_width_66 mobile_full_width " sizes="(max-width: 600px) 100vw, (max-width: 800px) 100vw, (max-width: 1200px) 100vw,70vw" srcset="/images/sample_unboxing/sample_frame_1_1920.jpg 1920w, /images/sample_unboxing/sample_frame_1_960.jpg 960w" />
	


	
	
	
	
	
	
	
	
  
  
  
  
		<div class="centred padding_bottom_small width_50  padding_top_large phablet_width_90 bring_to_front subhead font_c phablet_font_aa mob_font_b tablet_width_80 mobile_width_90">
	 		From the moment your guests see the envelope, they&rsquo;ll know it&rsquo;s something special&hellip;
		</div>

  
  
	<article id="homepage_copywriting" class="padding_top_large centred phablet_width_80 width_50 tablet_width_70 mobile_width_97 clear">

		<div class="top_dotted full_width"></div>
		<img src="/images/furniture/shell.svg" class="shell padding_bottom_medium" />

		<h2 class="subhead font_c mob_font_c centred">
			It starts with the envelope.
		</h2>

		<h2 class="subhead font_d mob_font_d centred">
			Your envelope is the first thing your guests will see, and the first impression they will have of your big day.
		</h2>



		<p class="body">It should surprise, impress and delight them: make them feel excited to open it and find out what's inside.</p>
		
		<p class="body">It shouldn't feel like a birthday card from Aunt Edith.</p>

		<p class="body">And it shouldn't feel like an afterthought:</p>
		
		<p class="body">You wouldn't wrap a gift badly, so why settle for a dull, plain envelope?</p>

	</article>
















	<article id="homepage_copywriting" class="centred phablet_width_80 width_50 tablet_width_70 mobile_width_97">

		<p class="body">That's why our envelopes come as something of an unexpected surprise:</p>
		
		<p class="body">Tailor-made by hand, and imprinted with your own monogram, each envelope is optionally adorned with a breathtaking foil seal and printed inside and out with a matching design that co-ordinates beautifully in the
			same colour as the invitation it contains.</p>

		<p class="body">Each envelope comes individually addressed to your guests: and if you opt for our box-envelopes, your guests really will feel like they are opening an invitation to an important event. </p>

		<h2 class="width_66 font_d mob_font_d  subhead mobile_width_90">
			Our highly bespoke envelopes lend an exclusivity to your wedding invitations that will have your guests wondering how you made them.
		</h2>

		<h2 class="width_90 font_c mob_font_c  text_center padding_bottom_small subhead">
			But the envelopes are just the beginning...
		</h2>

	</article>









	<div class="width_30 phablet_width_80 tablet_width_70 mobile_width_80 centred caption clear">
		<img src="/images/homepage/pointer_up.svg" class="w12px margin_bottom_small" />
		You won't find anything like our exclusive envelopes: too many beautiful invitations are let down by boring unco-ordinating envelopes that leave them feeling unfinished. Our co-ordinating envelopes are the pièce de résistance that your guests won't be able to stop looking at.
	</div>














	<article id="homepage_copywriting" class="centred phablet_width_80 width_50 tablet_width_70  mobile_width_97">

		<div class="padding_top_medium"></div>


		
		<h2 class="width_66 font_d mob_font_d  subhead mobile_width_90">Inside, you'll find your invitation protected by layers of tissue paper, light as a feather and again printed and watermarked with your design. </h2>

		<p class="body">As well as adding an angelic beauty, it will make your guests feel like they're opening a box containing an expensive of designer shoes rather than just pulling a card from an envelope.</p>



		<%- include("partials/html_chloe_testimonial") %>



		<p class="body">The next step will see your guests removing one of a range of embellishments which add that wow factor:</p>

		<h2 class="subhead width_66 text_center font_d mob_font_d mobile_width_90">
			Whether it's uwrapping the paper sleeve adorned with your monogram, unbuckling the gently glinting diamante ribbon or untying the bow, it all adds to the excitement.
		</h2>

		<p class="body">A delicate vellum cover, semi-transparent like a pane of frosted glass, softly mutes your card like a halo: as it falls away, your chosen colours&mdash;printed in solid wax that feels slightly raised as you run your finger over it&mdash;will seem even
			deeper and bolder.</p>

		<p class="body">And the card itself, available in a variety of textures, creates a tactile satisfaction as it reveals the details of your important ceremony. </p>


		<h2 class="text_center subhead width_66 font_d mob_font_d mobile_width_90">
			These are just a few of the little details that make our invitations&mdash;	<span class="slant">your invitations</span>&mdash;a cut above the rest.
			</h2>


		<h2 class="text_center subhead width_66 font_d mob_font_d mobile_width_80 padding_bottom_large">
			And it's in the little details that the big impressions get made.
		</h2>



		<p class="body">But don't take my word for it.</p>
		<p class="body">if you haven't already ordered your free sample box, don't miss the opportunity to do so now: <a class="bottom_dotted" href="/products">browse our designs</a> and judge for yourself. </p>

<br/><br/>
		<div class="top_dotted full_width"></div>
		<img src="/images/furniture/shell.svg" class="shell padding_bottom_large" />









		<p class="body margin_bottom_large">P.S. If you have any questions at all, please just drop me an email at
			<a href="mailto:david.p@casamiento.co.uk" class="bottom_dotted hover_1_underline">david@casamiento.co.uk</a>,
			or feel free to
			<a href="http://www.facebook.com/davidos.80" class="bottom_dotted hover_1_underline">add me on Facebook</a>
			<a href="http://www.facebook.com/davidos.80">
			<img src="/images/social_media_buttons/facebook.svg" class="w15px inline element_hover" /></a>
			and send me a message!
		</p>

	</article>

		

	<%- include("partials/navigation/footer") %>
	
	
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>
<script>

		var products = <%- JSON.stringify(products)  %>
	var tag = document.createElement("script");
tag.src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js";
tag.src.async = false
document.getElementsByTagName("footer")[0].appendChild(tag);

	var tag = document.createElement("script");
tag.src = "/javascripts/jquery.slides.min.js";
tag.src.async = false
document.getElementsByTagName("footer")[0].appendChild(tag);

	var tag = document.createElement("script");
tag.src = "/javascripts/slideshow.js";
tag.src.async = false
document.getElementsByTagName("footer")[0].appendChild(tag);

</script>
<noscript id="deferred-styles">
      <link rel="stylesheet" type="text/css" href="/stylesheets/top_nav.min.css"/>
    </noscript>
<!--
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>

	<script src="/javascripts/jquery.slides.min.js"></script> -->
</body>

</html>
