<!doctype html>

<body>

	<head>
		<meta name="viewport" content="initial-scale=1,user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Junge|Playfair+Display+SC|Playfair+Display:400i|Raleway:300,300i,500" rel="stylesheet">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/forms.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/top_nav.css" type="text/css">

	</head>



	<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-->


	<img src="/images/logo/casamiento_black.svg" id="casamiento_logo" />
	<div id="browse">
		<div id="browse_container">
			<a href="/products"><img src="/images/furniture/browse.svg" id="book" /></a>
			<a href="/products"><span id="browse_link">BROWSE DESIGNS</span></a>
		</div>
	</div>

	<img src="/images/logo/drms.svg" id="dreams_slogan" />

	<div id="slides">
		<% products.forEach(function(invitation) { %>
			<a href="/products/<%= invitation.name %>"><img sizes="(max-width: 1100px) 100vw, 95vw" srcset="/images/invitations/<%= invitation.name %>/collage_700.jpg 700w, /images/invitations/<%= invitation.name %>/collage.jpg 1300w" alt="Wedding stationery suite">

</a>
			<a href="/products/<%= invitation.name %>">
				<img src="/images/invitations/<%= invitation.name %>/four.jpg" sizes="(max-width: 1100px) 100vw, 95vw"
	    srcset="/images/invitations/<%= invitation.name %>/four_700.jpg 700w, /images/invitations/<%= invitation.name %>/four.jpg 1300w"></a>
			<%}) %>
	</div>







	<div id="headline" class="font_medium">&ldquo;From the moment they see the envelope, your guests will know it&rsquo;s something special&hellip;</div>



	<article id="homepage_copywriting">

				<div class="shell_line"></div>

				<img src="/images/furniture/shell.svg" class="shell" />

		<h2> When people see our invitations for the first time, it's usually the envelope that instantly delights and impresses them:</h2>

		<p>Most people are used to seeing boring, plain envelopes.<p>
			<p>So our tailor-made envelopes, printed both inside and out with matching intricate designs that co-ordinate beautifully with the invitations they contain, are an unexpected surprise. </p>

		<h2 class="smaller width_large text_center">They lend a	exclusivity to your wedding invitations that will have your guests wondering how you made them.</h2>

<div class="caption width_small text_center" style="padding-top:2em;margin-bottom:-8em;float:right;position:relative;z-index:10">Your envelopes are printed with guest addresses for the ultimate in perfection: there's nothing worse than badly handwritten addresses to spoil a beautiful envelope, not to mention the hours of time it saves you&hellip;<br/>

				<img src="/images/homepage/pointer_down.svg" />

</div>


			<img src="/images/homepage/big_illustrations/envelope.png" class="image_100" />



				<div class="width_small text_center caption" style="float:left;position:relative;z-index:10;margin-top:-6em;padding-bottom:2em;">
								<img src="/images/homepage/pointer_up.svg" /><br/>
					Our envelopes are tailor-made with matching designs personalised with you own unique monogram.
				</div>


		<h2 class="smaller text_center width_small" style="clear:both;">But the envelopes are just the beginning&hellip;.</h2>

		<p>Inside, your invitation is dressed in one of a range of embellishments to add that wow factor:</p>

		<p>&hellip;whether it's uwrapping the paper sleeve adorned with your monogram unbuckling the gently glinting diamante ribbon or untying the bow, your guests will feel like they're engaging with something really special.</p>

		<h2 class="smaller text_center width_medium">The delicate, frosted-vellum cover, watermarked with your monogram in a matching design, evokes a magical feeling of quality that card alone cannot match.</h2>

		<p>And the delicately printed tissue paper, light as a feather, used to protect your invitation in transit, makes your guests feel more like they are opening a box of expensive designer shoes.</p>


		<p>These are just some of the little things that make our invitations&mdash;<span style="font-style:italic;font-weight:normal;">your invitations</span>&mdash;special.</p>


		<p>And it's in the little details that big impressions get made.</p>


		<div class="shell_line"></div>
		<img src="/images/furniture/shell.svg" class="shell" />
















		<!-- SAMPLE FORM
									-----------------------------------------------------------------------
									-----------------------------------------------------------------------
									-----------------------------------------------------------------------
									-----------------------------------------------------------------------

									-->
		<img src="/images/homepage/davidphoto2.png" class="david_photo">

		<h2 class="text_center width_small">


					<img src="/images/homepage/leftquote.svg" id="david_quote_icon"/>

					Hi I'm David. I'd like to post you a free sample box today, usually worth £9.99&hellip;</h2>



		<p>When I'm not <a style="text-decoration:none;background-color:#EEE;border-radius:5px;padding:5px;padding-bottom:7px;" target="_blank" href="https://www.facebook.com/davidos.80/videos/1051770804901748">singing and playing the piano <img src="/images/furniture/openwindow.svg" style="opacity:0.7;width:15px;" /></a>,
			I'm busy working on my other passion: making beautiful invitations for you.</p>

		<p> I love the fact that when you buy your stationery from me, I'm not only contributing to your dream, but you're helping me with mine.</p>

		<p> In a second, I'm going to take you on a journey through all the little things that make our invitations great.</p>
		<p>(things you probably haven't considered but are important for you to know before you purchase any stationery)</p>

		<p>But first, I think the best way for you to judge them is to hold them in
			your hand...
		</p>

		<h2 class="text_center smaller width_medium">&hellip;so for a limited time I'm giving away free sample boxes containing:</h2>

		<img src="/images/homepage/sample_box.png" style="width:40%;display:block;margin:0 auto" />


			<ul>
				<li><span style="font-weight:500">three beautiful invitation suites</span> (card, envelope, rsvp, info sheet and embellishments) from our exclusive collections </li>
				<li><span style="font-weight:500">swatches of our card textures</span> for you to see and touch</li>
				<li><span style="font-weight:500">sample embellishments</span> (bows, buckles and ribbons) for you to compare and contrast</li>
				<li><span style="font-weight:500">printed colour chart</span> so you can see what colours look like accurately, helping you find your exact colour match; <span style="font-style:italic;">and</span></li>
				<li><span style="font-weight:500">our luxury catalogue</span> for you to browse (nothing quite beats relaxing and flicking through a paper catalogue, plus it'll look good on your coffee table!)</li>
				<li><span style="font-weight:500">a little surprise:</span> we also put a little surprise in every sample box&mdash; you'll have to get one to find out what it is!
			</ul>

			<p>
				Just enter your name and address now to get this parcel of perfection posted to you today&hellip;
			</p>

			<form class="pure-form form-aligned" name="sample" id="form_sample">

				<fieldset>

					<div class="pure-control-group">
						<p class="error" id="error_name"></p>
						<input type="text" id="name" style="background-color:white;" name="name" placeholder="Your name"></input>
					</div>


					<div class="pure-control-group">
						<p class="error" id="error_email"></p>
						<input type="email" id="email" style="background-color:white;" name="email" placeholder="Email"></input>
					</div>


					<div class="pure-control-group">
						<p class="error" id="error_address"></p>
						<input type="text" id="address" style="background-color:white;" name="address" placeholder="House number or name"></input>
					</div>

					<div class="pure-control-group">
						<p class="error" id="error_postcode"></p>
						<input type="text" id="postcode" style="background-color:white;" name="postcode" placeholder="Your postcode"></input>
					</div>

				</fieldset>

				<div style="text-align:center;">
					<img src="/images/furniture/360.gif" style="width:80px;" id="form_sample_spinner" />
					<button type="submit" id="get_sample" style="" class="pure-button pure-button-primary">
								Post my sample box now!
							</button>

				</div>
			</form>



















		<div class="divider"></div>















		<!-- TESTIMONIAL--------------------------------------------------------------------
					          -----------------------------------------------------------------------

					          -->

		<div class="testimonial_container">
			<img src="/images/homepage/testimonial_chloe.png" class="testimonial_photo" />
			<img src="/images/homepage/leftquote.svg" class="testimonial_quote_icon" />
			<p class="testimonial_quote">It&rsquo;s all the little touches, the beauty of the printed envelopes, and the way the vellum is imprinted with your own design&hellip; it just feels and looks so luxurious and bespoke: my guests were all really impressed as my stationery really did
				stand out from the crowd. Plus they didn&rsquo;t break the bank like I thought they would!”</p>

				<p class="testimonial_name">&mdash;Chloé Campbell</p>
				<p class="testimonial_date">married January 2016</p>

		</div>




















		<div class="divider"></div>


		<h2 class="text_center width_medium">
				 <img src="/images/homepage/icons/present-box.svg" class="icon" /><br/>
				Nothing lets a good invitation down like a bad envelope&hellip;
			</h2>

		<p>Isn't there something satisfying about opening a perfectly-wrapped present, tied with a bow and adorned with a tag</p>

		<p>How something is packaged is as important as the gift inside&hellip;</p>

		<p>That's why companies spend millions of pounds wrapping boring things like rice in elegant, carefully-designed foil (and shoving an extra £1 on the price in the process!).</p>

<h2 class="width_medium text_center smaller">
				Needless to say, boring, plain envelopes with smudged, hand-scribbled addresses will not do justice to what is inside.</h2>


		<p>
			The envelope is the first thing your guests will see and when it arrives through the letterbox you want them to be impressed and excited to find out what's inside...</p>

			<p>...not think it's another badly-written birthday card from Aunty Emily or a bill from British
			Gas!
		</p>


		<img src="/images/homepage/big_illustrations/box_envelope.png" class="image_100" />

		<div class="text_center width_smaller" style="margin-top:-7em;">
			<img src="/images/homepage/pointer_up.svg" />
			<div class="caption">Our envelopes are highly tailored, with patterns and monograms printed inside and outside</div>
		</div>

		<p>
			It's precisely because envelopes are (wrongly) the least thought-about element of a wedding invitation that our high level of customisation really does make your invitation stand out from the crowd: </p>

			<p>everyone is so used to seeing boring envelopes, so to see something so unique and beautiful comes as a real surprise&mdash;your invitations will be the talk of your guests who will be asking "Where did you get these made?" </p>

		<p>
			If you want to go one step further, our box envelopes really do make your guests feel as though they are receiving an expensive present (they're just like little presentation box), a gift they simply won't be able to throw away.


		</p>






		<div class="divider"></div>



















		<!-- TESTIMONIAL
								----------------------------------------------------------------------
								-----------------------------------------------------------------------
								-----------------------------------------------------------------------
								-----------------------------------------------------------------------

								-->

		<div class="testimonial_container">
			<img src="/images/homepage/testimonial_helen.png" class="testimonial_photo" />
			<img src="/images/homepage/leftquote.svg" class="testimonial_quote_icon" />

			<p class="testimonial_quote">From the sample pack, to the quick responses from David during the process of editing my invitations, through to the moment I opened my special parcel and discovered each individually wrapped package containing my stationery, everything was just perfect...”
			</p>

				<p class="testimonial_name">&mdash;Helen Oishi</p>
				<p class="testimonial_date">married October 2015</p>


		</div>












		<div class="divider"></div>

















						<h2 class="text_center width_medium">
						 <img src="/images/homepage/icons/crocodile-shape.svg" class="icon" /><br/>
																					The journey from postbox to letterbox is fraught with dangers</h2>
				<p>
					Ever wondered what happens to your invitations when they go in the post box?
				</p>

				<p>
					Does a magic fairy with clean hands magically fly them to their destination?</p>


				<p>No.</p>


				<p>They are handled by at least a dozen different people, pressed between rollers, rained-upon and X-rayed&mdash;just for starters. </p>


				<p>All of this means that there without careful consideration, your invitation may well not arrive in the same state you posted it in. </p>


				<p>One bride was devastated to find that when her guests received her invitation, the ink had transferred to the other side of the card, causing a horrible, smudged, ghosting effect. </p>


				<h2 class="width_small text_center smaller">Another common issue is Fat Envelope Syndrome&hellip;</h2>


				<p>&hellip;standard envelopes aren't designed to take invitations with a ribbon or an embellishment such as a diamante. They are meant for flat cards only.</p>


				<ul>
				<li>Added extras will give the envelope a horrible, unsightly bulge,</li>
					<li>you won't be able to seal them neatly</li>
					<li>and to top it off when they are in the post, the knot on the ribbon or the envelope will often get pushed against the envelope so hard that it will
					actually cause the envelope to rip and can end up poking through.</li>
				</ul>


				<p>Gems and buckles can press against other enclosures as well as the envelope causing unsightly scars and indents. </p>

				<p>Rain will often cause handwritten addresses to run if you use soluble ink, and the same can go for ink printed with inkjets. </p>


				<h2 class="width_small text_center smaller">This isn't how you want your invitation to arrive. </h2>


				<p>We know all the nasty things that can happen to an invitation in transit and so we design our invitations to make that journey as safe as it can be.</p>
				<ul>

					<li>Our box-envelopes, made from sturdy matching card, are created especially to hold invitations with added extras and keep them in pristine condition.</li>




					<li>Our waterproof vellum covers protect your invitation in the event that even the smallest bit of rain gets in. </li>


					<li>And our wax ink will never run or smudge because water can't damage it. </li>
				</ul>

				<p>Take that, postman!</p>
















				<div class="divider"></div>












		<!--------------------------  BENEFIT  -->




				<h2 class="text_center width_medium">
 <img src="/images/homepage/icons/car-falling.svg" class="icon" /><br/>


											Murphy's Law: Anything that can go wrong, will go wrong&hellip;
</h2>
		<p>Spelling errors.</p>

		<p>Delays in delivery.</p>

		<p>Colours not matching.</p>

		<p>Things not looking how you thought they would, after everything's been printed&hellip; </p>

		<p>The road from placing an order to receiving your finished invitations can be bumpy if you're not working with people who communicate well and know all the issues that can, and will, arise. </p>

		<h2 class="width_medium text_center smaller">In a world where so much is automated, potential problems can fall through the cracks as there is no human being involved to stop and intervene:</h2>

		<p>
			For example, one bride had uploaded her list of addresses to a stationery company but there was a limit to 5 lines per address: therefore some of the addresses had the last two lines cut off!</p>

		<p>
			But she only found out when she received her invitations&mdash;if the company had bothered to do a few checks, they could easily have flagged this up and sorted out the problem before it was too late.</p>

		<p>
			We do checks every step of the way to avoid these sort of issues, and if we notice something that doesn't seem right, we won't just blindly go ahead with your order&mdash;we'll contact you to check it out.</p>

		<p>
			Honestly, the number of times I see Michael spelled Micheal&mdash;it'd be easy to just go ahead without questioning it, but I always contact the bride to double-check and usually I get "Yes, it should be Michael! THANK YOU for noticing!". </p>

		<p>
			A lot of stationery companies allow you to customise designs yourself online&mdash;this is great fun but in practice we've learned that for items as complex and important as wedding stationery it only leads to misery: there are too many opportunities
			for errors and mistakes.</p>

		<p>
			Until technology gets really intelligent, it's still really important that a human being is involved in each step.</p>

		<p>
			I know how important it is for you to be kept informed as to what's going on. I won't hide problems from you&mdash;I'll tell you straight away so you can make informed decisions.</p>

		<p>
			If you (or I!) have the slightest concerns about how your invitation is going to look in the flesh (colours on screen never look the same as on card, for example), I'll send you a print of every item in your suite in the post before printing goes ahead
			so you can be 100% confident. </p>

		<p>
			If the paper you want isn't in stock, we'll tell you as soon as you place your order and I'll be honest about how long it will take to get it back in stock so you can make an informed decision rather than taking your money and then apologising for "unexpected
			delays" later down the line.
		</p>














		<div class="divider"></div>










				<!-- TESTIMONIAL--------------------------------------------------------------------
							          -----------------------------------------------------------------------

							          -->

				<div class="testimonial_container">
					<img src="/images/homepage/davinaphoto.jpg" class="testimonial_photo" />
					<img src="/images/homepage/leftquote.svg" class="testimonial_quote_icon" />
					<p class="testimonial_quote">It&rsquo;s all the little touches, the beauty of the printed envelopes, and the way the vellum is imprinted with your own design&hellip; it just feels and looks so luxurious and bespoke: my guests were all really impressed as my stationery really did
						stand out from the crowd. Plus they didn&rsquo;t break the bank like I thought they would!”</p>

						<p class="testimonial_name">&mdash;Chloé Campbell</p>
						<p class="testimonial_date">married January 2016</p>

				</div>










						<div class="divider"></div>










				<h2 class="text_center width_small">

 				<img src="/images/homepage/icons/wedding-suit.svg" class="icon" /><br/>
											Those shoes don't go with that dress&hellip;

										</h2>
		<p>
			Coordination.
		</p>
		<p>
			It's a long word, and it's the Holy Grail of design. </p>

		<p>
			You hold a beautiful invitation in your hand: the colours compliment one another, the typefaces are perfectly in tune with the tone of the wedding, and then you see it&hellip;</p>

		<p>
			&hellip; a fuzzy map that's been cut and pasted from Google Maps. </p>

		<p>
			a ribbon which is slightly off colour to everything else&hellip;</p>
		<img src="/images/homepage/big_illustrations/invite_vellum.png" style="margin:0 auto;display:block;" class="width_large text_center" />
		<div class="width_small text_center">



			<div class="caption text_center" style="margin-top:-2em;position:relative;z-index:10;">
						<img src="/images/homepage/pointer_up.svg" /><br/>
				Vellum covers are watermarked with your design and monogram, giving your invitations an unrivalled air of sophistication</div>
			</div>


		<p>
			Or an envelope made from a different textured paper to the invitations. </p>

		<p>
			One little thing can let the whole team down!</p>


			<h2 class="width_small text_center smaller">
					It's like the fly in the Chardonnay and it spoils everything.</h2>
		<p>
			To make a striking impression, every item of your stationery should match perfectly, just like an outfit.</p>

		<p>
			Co-ordination is important because it shows care and attention to detail precisely because it takes more work and effort to make things compliment one another.
		</p>
		<p>
			Poor co-ordination shows thoughtlessness and neglect. </p>

		<p>
			That's why every item in our stationery suite works in careful harmony with its siblings, from the ribbon, to the professionally tailored maps, to the tissue paper. Everything is beautifull co-ordinated to match, from the Save The Date cards to the Order
			of Service. </p>


























		<div class="divider"></div>

























				<h2 class="text_center width_large">
	 <img src="/images/homepage/icons/write.svg" style="padding-top:1em;display:inline-block;margin:0 auto;padding-bottom:0;margin-bottom:0;width:45px;" /><br/>
															Personalisation will save you many hours of valuable time and stress&hellip;

														</h2>
		<p>
			Have you any idea how long it takes to individually address each invitation and envelope?
		</p>

		<p>It's probably something you haven't thought too hard about, but handwriting guest names on each invitation is a messy, time consuming , physically demanding and error prone business&hellip;</p>

		<p>Your hand will ache after a while and the beautiful handwriting you inscribed on the first invitation will start looking like a Doctor's signature by invitation number 32.</p>

		<p>And there's no delete button when you mess up the spelling, and oh dear, now your invitation is ruined as the name won't fit in the space!</p>

		<p>If you're going to personalise your invitations by hand, then you need to be prepared to order a good few extra envelopes and invitations as you're going to screw up some of them. It's a fact. </p>

		<img src="/images/homepage/big_illustrations/guestname.png" style="margin:0 auto;width:250px;display:block;" />

		<p>Plus, ink smudges easily, and in the words of one of our brides, "I just don't like the look of a perfect printed invitation and then hand written names".</p>

		<p>But there's a simple solution:</p>

		<p>We can print your guest names on each invitation individually, as well as addressing your envelopes (more info below):</p>

		<img src="/images/homepage/big_illustrations/guestaddress.png" class="image_100" style="margin:0 auto;padding-top:1em;padding-bottom:1em;display:block;" />
		<p>not only does it look much nicer to have an invitation co-ordinated with pre-printed names in a matching font, but creating a list you can edit and update on a computer first is much more sensible:</p>

		<p>You can thorougly check for mistakes, and, if you intend to handwrite your envelopes you're going to have to create a list of names and addresses anyway&hellip;

		</p>

		<p>&hellip;so why, when you've already created the list, double the amount of time and effort by rewriting these all out when they can just be emailed to us for printing?</p>

		<p>But it's about more than just saving time&hellip;</p>

		<p>Personalisation is extremely important because by explicitly addressing your invitations to "Sarah, Jane & Jenny", it takes the guesswork away from your guests:</p>

		<p>Sarah knows straight away that she can bring her flatmate and daughter. If it just says "Sarah & Guest", she knows she is invited and can bring any guest.</p>

		<img src="/images/homepage/big_illustrations/monograms.png" class="image_100" style="display:block;margin:0 auto;" />
		<p>An invitation that isn't personalised makes it awkward for your guests to know who they can and can't bring along (and awkward for you to know who they are bringing along too), but if you address your guests individually, you'll make things easier for
			yourself and your guests from the start: it avoids that difficult conversation when they ask you, "Can I bring the kids/boyfriend I met last week?".</p>

		<p>If you don't personalise your wedding invitations with individual names, it's not clear who exactly is invited--and that means more hassle for you.</p>

















		<div class="divider"></div>





























				<h2 class="text_center width_medium">
								 <img src="/images/homepage/icons/pig-with-round-tail.svg" class="icon" /><br/>
																			Don't let your invitation look like a card from Moonpig&hellip;

																		</h2>
		<p>

			Whatever you do, please, please don't let your invitation look like it was created in Microsoft Word.
		</p>

		<p>
			Nothing shouts cheap and amateur louder and looks uglier than an invitation that's been laid out by someone with no typography skills. </p>
		<p>
			There's a reason people hire graphic designers…</p>
		<p>
			…sometimes when you look at something, it just looks professional, chic and expensive but if anyone was to ask you, you wouldn't be able to explain why--it's just a feeling.</p>


		<p>
			But a lot of work goes into making you have that feeling: it's all in the detail-- care and attention to the little nuances that, on their own don't seem very significant but combined make a massive difference to the way people see and perceive your invitations--either
			as cheap and tacky or expensive and elegant.</p>

		<p>Subtle touches such as careful alignment and spacing, the use of bullet points and ornamental separations between paragraphs are just some of the things that individually may not sound like much but together add up to create a stunning layout that you
			would expect from a Royal wedding.</p>


		<p>Stuff from Lidl looks and feels cheaper than the premium products at Waitrose. </p>

		<h2 class="width_small text_center smaller">The Sun newspaper looks tackier and less classy than The Times. </h2>

		<p>But whilst you can see the difference, it takes a professional to understand what goes into making the difference. </p>

		<p> Free fonts and clipart that have been downloaded from the internet are free for a reason: they don't have the same refinements that will give your invitations a polished, superior look.</p>

		<img src="/images/homepage/big_illustrations/invitetext.png" class="image_100" style="display:block;margin:0 auto;" />


		<p>
			Some of the fonts we use have cost hundreds of pounds, and we pay that because we know the time and effort went into creating them and the value they give in making your invitations look exquisite. </p>
		<p>
			Too many stationery suppliers are often brides with no design background who've created their own stationery and decided to make a bit of money on the side creating stationery for others. </p>
		<p>
			Which leads me nicely onto...</p>






























		<div class="divider"></div>


































				<h2 class="text_center width_small">
																														<img src="/images/homepage/icons/sound.svg" style="width:40px;display:inline-block" /><br/>
												Substance is as important as style&hellip;
											</h2>


		<p>
			It's important for your invitations to look good: there's no doubt about that.</p>

		<p>
			But it's only half the battle: caught up in the delight of making sure everything looks perfect, it's very easy to forget that invitations serve a practical function too: to inform and educate your guests as much as possible about the event, and in turn,
			to make planning your wedding easier and therefore less stressful for you.

		</p>
		<p>

			To do that, you need to think of all the possible questions your guests are going to have and try to answer them in the content of your invitation.

		</p>
		<p>
			You're also going to need to figure out what information you're going to need back from them to help you plan your wedding, such as simple RSVPs for guest numbers and things like menu choices.

		</p>
		<p>
			Your guests are human, and like most humans, they're more likely to do something if it's easy and pain-free, so you also need to make it as easy as possible for them to reply.

		</p>
		<p>
			That's why those little extras, such as information enclosures and reply cards are important.

		</p>
		<p>
			A pre-addressed reply card increases your chances of getting responses quickly as it is very easy for your guests to just tick a box or two and post the card.

		</p>
		<p>
			We even print your guest names on the reply cards to make it even easier for them (and more accurate for you&mdash;leave it to your guests and believe me they won't even remember to write their own name so you won't know who the reply card is from!).

		</p>
		<p>
			No reply cards means no replies: and no replies means, among the other 101 things you need to do, you're going to have the hassle of chasing your guests to find out who is, or isn't, coming.

		</p>
		<p>
			In our experience, invitations with reply cards get around three times as many responses as invitations without!

		</p>
		<p>
			You'll find the number of details you provide about your wedding day is inversely proportional to the stress you'll experience (the more details you give, less stress for you!).

		</p>
		<p>
			That's why providing an additional instruction leaflet for all the extra stuff can really make your life easierso guests don't have to hassle you with questions at the last minute:

		</p>
		<p>
			Where exactly is the venue?

		</p>
		<p>
			A simple map can save you and your bridesmaids dealing with the exasperation of answering twenty phone calls on the morning of your wedding as lost guests phone you when they've gone up the wrong country lane.

		</p>
		<p>
			What do they wear?

		</p>
		<p>
			Explaining the dress code is important if you don't want Auntie Edna turning up in that bright puce dress with the ostentatious hat.

		</p>
		<p>
			Can children come?

		</p>
		<p>
			Can they give vouchers or money instead of buying you another garlic press?

		</p>
		<p>
			It's monotonous and rage-inducing to keep hearing the same questions again and again: avoid the bitterness by answering questions in advance with a comprehensive information enclosure.

		</p>

	</article>

	<footer>
		<img src="/images/logo/casamiento_black.svg" style="width:100px;float:left;display:block;" />
		<div style="float:right;">
			<a style="font-size:9pt;font-family:Avenir" href="/privacy.html">Privacy Policy</a></div>
	</footer>














	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<script src="/javascripts/jquery.slides.min.js"></script>
	<!-- Facebook Pixel Code -->
	<script>
		! function(f, b, e, v, n, t, s) {
			if (f.fbq) return;
			n = f.fbq = function() {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n;
			n.push = n;
			n.loaded = !0;
			n.version = '2.0';
			n.queue = [];
			t = b.createElement(e);
			t.async = !0;
			t.src = v;
			s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window,
			document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

		fbq('init', '1165096770179288');
		fbq('track', "PageView");
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=1165096770179288&ev=PageView&noscript=1"
	/></noscript>
	<script>
		$(function() {

			$("#slides").slidesjs({
				width: 2000,
				height: 1409,

				pagination: {
					active: false
				},
				effect: {
					slide: {
						speed: 1000,
					},
					fade: {
						speed: 1000,
						// [number] Speed in milliseconds of the fade animation.
						crossfade: true
							// [boolean] Cross-fade the transition.
					}
				},
				play: {
					active: false,
					auto: true,
					interval: 2500,
					effect: 'fade'
				},
				navigation: {
					active: false
				},
				callback: {
					loaded: function(n) {
						$('#slides_spinner').hide();
					}
				}
			})


			// Sample form
			$('#form_sample').submit(function(e) {
				e.preventDefault();

				var message = {
					address: $('#address').val(),
					postcode: $('#postcode').val(),
					name: $('#name').val(),
					email: $('#email').val(),
					template: 'sample'
				}

				var postcode_regex = /[A-Z]{1,2}[0-9][0-9A-Z]?\s?[0-9][A-Z]{2}/gi;
				var postcode = message.postcode.match(postcode_regex);

				if (!message.address) {
					$('#error_address').text("Please enter a house name or number!")
					$('#address').css("border-color", "#B50000")
					$('#address').css("border-width", "2px")
				}
				if (!postcode) {
					$('#error_postcode').text("Please enter a valid UK postcode!")
					$('#postcode').css("border-color", "#B50000")
					$('#postcode').css("border-width", "2px")

				}
				if (!message.name) {
					$('#error_name').text("Please enter your name!")
					$('#name').css("border-color", "#B50000")
					$('#name').css("border-width", "2px")
				}
				if (!message.email) {
					$('#error_email').text("Please enter your email address!")
					$('#email').css("border-color", "#B50000")
					$('#email').css("border-width", "2px")
				}
				if (message.address && postcode && name && email) {
					$('#get_sample').hide();
					$('#form_sample_spinner').show();
					$.ajax({
						type: "POST",
						url: "/emails",
						data: message,
						success: function(data) {
							$('#get_sample').hide();
							$('#form_sample_spinner').hide();
						}
					});
				}
			})








			// Download form
			$('#form_download').submit(function(e) {
				e.preventDefault();
				var email = $('#email').val();
				var message = {
					template: 'download',
					email: email
				}
				if (!email) {
					$('#error_email').text("Please enter a valid email!")
					$('#email').css("border-color", "#B50000")
					$('#email').css("border-width", "2px")
				}
				if (email) {
					$('#get_download').hide();
					$('#form_download_spinner').show();
					$.ajax({
						type: "POST",
						url: "/emails",
						data: message,
						success: function(data) {}
					});
				}
			})

		})
	</script>
</body>

</html>
