<!doctype html>

	<head>

		<%- include("partials/script_google_tag_manager") %>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="/javascripts/isInViewport.min.js"></script>
		<script src="/javascripts/jquery.slides.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>		
		<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
		
		<meta name="viewport" content="initial-scale=1,user-scalable=no">
		<link href="http://fonts.googleapis.com/css?family=Junge|Playfair+Display+SC|Playfair+Display:400i|Raleway:200,200i,300,300i,400,400i" rel="stylesheet">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/top_nav.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/forms.css" type="text/css">
	</head>
	
<body>

	<%- include("partials/script_noscript_gtm") %>
	<%- include("partials/navigation/header") %>
	
	<div id="slides" class="centred width_95 tablet_full_width phablet_full_width mobile_full_width"></div>
	
	<div id="headline" class="padding_top_small centred phablet_width_90 bring_to_front serif_headline font_b phablet_font_aa mob_font_b width_66 tablet_full_width mobile_width_90 medium_line_spacing ">&ldquo;From the moment they see the envelope, your guests will know it&rsquo;s something special&hellip;&rdquo;
	</div>










	<article id="homepage_copywriting" class="centred phablet_width_80 width_50 tablet_width_70  mobile_width_97">

		<div class="top_dotted full_width"></div>

		<img src="/images/furniture/shell.svg" class="shell" />

		<h2 class="subhead text_left font_c mob_font_c">
			Your wedding invitation is the first representation of you and your partner as a married couple&hellip;
		</h2>

		<p class="body">It's also the first impression guests will have of your big day.</p>

		<p class="body">And the envelope containing it is the first thing your guests will see.</p>

		<p class="body">It should feel like a privilege when they pick it up from their letterbox: do you want to fill them with anticipation, excitement and delight, or do you want them to think it's just another greeting card in the post?</p>

		<h2 class="width_66 subhead text_center font_d mob_font_d  mobile_width_80">
			We're all so used to seeing boring, plain envelopes when we receive cards:
		</h2>

		<p class="body">So why should a beautiful invitation be let down by a dull, plain envelope? Not spending time on the envelope is like badly wrapping a gift.</p>
		
		<p class="body">The envelope should not be a second-class citizen.</p>
		
	</article>








<!-- VIDEO--------------------------------------------
--------------------------------------------------------
--------------------------------------------------------->
	
	<div class="video margin_top_large">
		<video muted preload loop autoplay playsinline src="/images/invitations/birds-of-paradise-diamante-spirals/" class="mobile_no_rounded mobile_full_width phablet_width_70 tablet_width_70 width_60 centred" >
			<source id="first_video_source" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
		
	<div class="margin_bottom_large width_30 phablet_width_80 tablet_width_70 mobile_width_80 centred caption clear">
		<img src="/images/homepage/pointer_up.svg" class="w12px" /><br/> 
		Isn't there something satisfying about opening a perfectly-wrapped present, tied with a bow and adorned with a tag? How something is packaged is as important as the gift inside...
		opening an invitation should be an experience that delights your guests and makes them excited about your big day. That's why opening our invitations feels like opening a specially tailored gift rather than an average greeting card.
	</div>
	
	
	
	
	
	
	
	
		
		
	<article id="homepage_copywriting" class="centred phablet_width_80 width_50 tablet_width_70 mobile_width_97">

		<p class="body">That's why that our envelopes come as something of an unexpected surprise. Tailor-made by hand, and imprinted with your own monogram, each envelope is also printed both inside and out with a matching intricate design that co-ordinates beautifully in the
			same colour as the invitation it contains.</p>

		<p class="body">They even come individually addressed to each guest: and if you opt for our box-envelopes, your guests really will feel like they are opening an invitation to an important event. </p>

		<h2 class="width_66 font_d mob_font_d  subhead mobile_width_90">
			The intricacy of our envelopes lend an exclusivity to your wedding invitations that will have your guests wondering how you made them.
		</h2>

		<h2 class="width_90 font_d mob_font_d  text_center subhead">
			But the envelopes are just the beginning...
		</h2>
		
	</article>



	
	
	
	
	
	

<!-- VIDEO--------------------------------------------
--------------------------------------------------------
--------------------------------------------------------->
	
	<div class="video">
		<video preload muted loop autoplay playsinline id="second_video" src="/images/invitations/art-deco/" class="mobile_no_rounded mobile_full_width phablet_width_70 tablet_width_70 width_60 centred" >
			<source id="second_video_source" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	
	<div class="width_30  phablet_width_80 tablet_width_70 mobile_width_80 centred caption clear">
		<img src="/images/homepage/pointer_up.svg" class="w12px" /><br/> 
		You won't find anything like our exclusive envelopes: too many beautiful invitations are let down by boring unco-ordinating envelopes that leave them feeling unfinished. Our co-ordinating envelopes are the pièce de résistance that you won't be able to stop looking at.
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
			
	<article id="homepage_copywriting" class="centred phablet_width_80 width_50 tablet_width_70  mobile_width_97">
		
		<div class="padding_top_medium"></div>


		<p class="body">Inside, you'll find your invitation protected by layers of tissue paper, light as a feather and again printed and watermarked with your design. </p>
		
		<p class="body">As well as adding an angelic beauty, it will make your guests feel like they're opening a box containing an expensive of designer shoes rather than just pulling a card from an envelope.</p>



		<%- include("partials/html_chloe_testimonial") %>
		
		
		
		<p class="body">The next step will see your guests removing one of a range of embellishments which add that wow factor:</p>

		<h2 class="subhead width_66 text_center font_d mob_font_d mobile_width_90">
			Whether it's uwrapping the paper sleeve adorned with your monogram, unbuckling the gently glinting diamante ribbon or untying the bow, it all adds to the excitement.
		</h2>

		<p class="body">A delicate vellum cover, semi-transparent like a pane of frosted glass, softly mutes your card like a halo: as it falls away, your chosen colours&mdash;printed in solid wax that feels slightly raised as you run your finger over it&mdash;will seem even
			deeper and bolder.</p>

		<p class="body">And the card itself, available in a variety of textures, creates a tactile satisfaction as it reveals the details of your important ceremony. </p>


		<h2 class="text_center subhead width_66 font_d mob_font_d mobile_width_90">
			These are just a few of the little details that make our invitations&mdash;	<span class="slant">your invitations</span>&mdash;a cut above the rest.
			</h2>
			

		<h2 class="text_center subhead width_66 font_d mob_font_d mobile_width_80 padding_bottom_large">
			And it's in the little details that the big impressions get made.
		</h2>


		<div class="top_dotted full_width"></div>
		<img src="/images/furniture/shell.svg" class="shell padding_bottom_large" />
	







<!-- SAMPLE FORM --------------------------------------------
--------------------------------------------------------
--------------------------------------------------------->

		<%- include("partials/html_david") %>
		<%- include("partials/html_flexbox_benefits") %>
		<%- include("partials/html_sample_form_free") %>
		
		
		
		
		
		
		
		

    <h2 class="subhead center width_80 font_e width_70">
    	And while you're waiting for it to arrive, why not 
    	<a class="grey_background_link " style="background-color:white;padding:2px;border:1px dashed grey;" href="/products">browse our designs <img src="/images/exit-top-right.svg " class="inline w15px opacity7" /></a> 
    	to see what takes your fancy&hellip;
    </h2>

		<p class="body">P.S. If you have any questions at all, please just drop me an email at 
			<a href="mailto:david.p@casamiento.co.uk" class="bottom_dotted hover_1_underline">david@casamiento.co.uk</a>, 
			or feel free to 
			<a href="http://www.facebook.com/davidos.80" class="bottom_dotted hover_1_underline">add me on Facebook</a>  
			<a href="http://www.facebook.com/davidos.80"><img src="/images/social_media_buttons/facebook-logo-1.svg" class="w20px opacity7 inline"></a> 
			and send me a message!
		</p>
	
	</article>


		<%- include("partials/navigation/footer") %>
		<%- include("partials/scripts") %>

</body>

</html>