<!doctype html>

<head>
	<script>
		(function(w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-59HLPVG');
	</script>
	<style>
		<%- include("partials/css_main") %>
		<%- include("partials/css_fonts") %>
		<%- include("partials/css_widths_margins_padding") %>
		.slidesjs-navigation { display:none; }
	</style>
	<meta name="viewport" content="initial-scale=1,user-scalable=no">
</head>
































<body>

	<%- include("partials/navigation/header") %>












		<div id="loading_slide" class="left centred rounded_corner_20 mob_no_rounded width_66 phablet_width_80 padding_top_small phablet_clear tablet_clear mob_full_width">
			<img src="/images/invitations/ace-of-hearts/collage_500.jpg" />
		</div>


		<div id="sample_slides" class="hidden left centred rounded_corner_20 mob_no_rounded width_66 phablet_width_80 padding_top_small phablet_clear phablet_centred tablet_no_float mob_full_width">

			<% [ "ace-of-hearts", "art-deco", "simplicity", "art-deco-mono", "chess", "birds-of-paradise-diamante-spirals", "bride-and-groom", "butterfly", "floral-woodcut", "serif-frame", "together-forever", "typeface","wild-magic"].forEach(function(product) { %>


				<img srcset="/images/invitations/<%= product %>/collage_800.jpg 800w,
            /images/invitations/<%= product %>/collage_1000.jpg 1000w,
            /images/invitations/<%= product %>/collage_1300.jpg 1300w,
            /images/invitations/<%= product %>/collage_1500.jpg 1500w,
            /images/invitations/<%= product %>/collage_2000.jpg 2000w" sizes="(max-width: 800px) 100vw,(max-width:1000px) 80vw,66vw" src="images/homepage/collage_1000.jpg" alt="<%= product %> wedding stationery suite photo" />
				<% }) %>

		</div>


		<div class="margin_left_67 centred padding_top_larger mob_padding_top_small mob_width_95 tablet_no_margin phablet_width_80 phablet_no_margin tablet_full_width">

			<div class="junge line_1-5 font_large width_90 tablet_width_80 mob_full_width">
				We're giving away 500 sample boxes worth £7.99&mdash;get yours FREE now:
			</div>

			<div class="junge font_medium text_left padding_top_small padding_bottom_small">

				<svg class="w20px" viewBox="0 0 512 512">
				<path d="M256,0C114.609,0,0,114.609,0,256c0,141.391,114.609,256,256,256c141.391,0,256-114.609,256-256
		C512,114.609,397.391,0,256,0z M256,472c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z
		"/>
				<path d="M249.703,201.25H188v-25h19.312c6.859,0,13.422-1.219,19.5-3.594c6.172-2.375,11.438-5.641,15.797-9.797
			c4.358-4.203,7.922-9.25,10.547-15.234c2.734-5.906,4.047-12.5,4.047-19.625H284v256h-34.297V201.25z"/>
			</svg> Click the arrows to choose your sample wedding invitation suite:

			</div>

			<div class="centred padding_top_small">
				<a href="#" id="slides_previous">
				<svg viewBox="0 0 444.531 444.531" class="element_hover w50px inline">
					<path d="M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835
		l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425
		c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564
		s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978
		L213.13,222.409z" />
				</svg>
			</a>


				<a href="#" id="slides_next">
				<svg viewBox="0 0 444.819 444.819" class="element_hover w50px inline">

					<path d="M352.025,196.712L165.884,10.848C159.029,3.615,150.469,0,140.187,0c-10.282,0-18.842,3.619-25.697,10.848L92.792,32.264
		c-7.044,7.043-10.566,15.604-10.566,25.692c0,9.897,3.521,18.56,10.566,25.981l138.753,138.473L92.786,361.168
		c-7.042,7.043-10.564,15.604-10.564,25.693c0,9.896,3.521,18.562,10.564,25.98l21.7,21.413
		c7.043,7.043,15.612,10.564,25.697,10.564c10.089,0,18.656-3.521,25.697-10.564l186.145-185.864
		c7.046-7.423,10.571-16.084,10.571-25.981C362.597,212.321,359.071,203.755,352.025,196.712z"/>
				</svg> 
			</a>

				<div class="cinzel font_big letter-spaced padding_top_small padding_bottom_medium" id="sample_name">
					Ace of Hearts
				</div>

			</div>

			<%- include("partials/html_sample_form", { bullets: [2,3], chosen_sample:products[0].clean_name }) %>

		</div>















		<div class="centred clear junge padding_top_small phablet_width_95 line_1-5 font_large width_40 tablet_width_80 mob_width_95">

			<br/>

			<div class="top_dotted"></div>



			<svg viewBox="-0.33 -0.18 18 13" class="shell bgwhite">

				<path d="M15.6,3.33c0,0.09-0.12,0.49-0.12,0.58c0,0.12,0.1,0.21,0.35,0.23c0.33,0.03,0.94,0.4,0.94,1.05
	c0,0.4-0.11,0.68-0.19,0.84c-0.05,0.07-0.07,0.14-0.07,0.19c0,0.07,0.04,0.14,0.09,0.21c0.16,0.19,0.61,0.51,0.61,1.22
	c0,0.73-0.86,1.45-0.86,1.69c0,0.31,0.26,0.23,0.26,0.57c0,0.91-1.95,2.25-4.14,2.25c-2.27,0-3.02-0.82-3.25-1.06
	c-0.16-0.19-0.37-0.28-0.58-0.28s-0.42,0.07-0.61,0.24c-0.3,0.24-1.94,1.1-3.18,1.1c-3.04,0-4.82-1.92-4.82-2.56
	c0-0.4,0.42-0.31,0.42-0.66C0.47,8.65,0,8.36,0,7.57c0-0.82,0.37-1.13,0.66-1.31c0.09-0.05,0.12-0.1,0.12-0.19
	c0-0.05-0.04-0.12-0.09-0.19C0.61,5.79,0.44,5.39,0.44,4.97c0-0.7,0.56-0.98,1-1.05C1.73,3.87,1.8,3.73,1.8,3.38
	c0-1.57,0.84-1.57,1.45-1.57c0.12,0,0.25-0.02,0.37-0.07c0.35-0.17,0.37-0.52,0.5-0.73C4.35,0.7,4.75,0.4,5.38,0.4
	c0.49,0,0.85,0.23,1.15,0.42c0.1,0.07,0.19,0.1,0.3,0.1s0.21-0.05,0.3-0.16C7.35,0.49,7.78,0,8.67,0c0.94,0,1.28,0.38,1.55,0.77
	c0.1,0.16,0.24,0.21,0.37,0.21c0.1,0,0.19-0.03,0.26-0.09c0.19-0.16,0.58-0.42,1.12-0.42c0.71,0,1.2,0.54,1.34,1.12
	c0.04,0.16,0.17,0.24,0.33,0.24C14.83,1.73,15.6,2.55,15.6,3.33z M13.49,8.92c-0.52,0.33-1.05,0.68-1.05,0.73
	c0,0.1,0.21,0.16,0.35,0.16c2.18,0,3.63-1.4,3.63-2.02c0-0.25-0.24-0.47-0.52-0.47c-0.21,0-0.45,0.12-0.73,0.35
	C14.75,8.04,14,8.58,13.49,8.92z M13.65,6.95c0,0.19,0.09,0.56,0.4,0.56c0.66,0,1.97-1.36,1.97-2.15c0-0.4-0.38-0.52-0.63-0.52
	c-0.23,0-0.49,0.1-0.71,0.33C14.13,5.74,13.65,6.28,13.65,6.95z M10.96,8.39c-0.12,0.05-0.19,0.19-0.19,0.31
	c0,0.3,0.4,0.45,0.73,0.45c0.47,0,1.38-0.42,1.36-1.46c-0.02-1-0.65-1.48-1.62-1.48S9.09,6.98,9.09,8.6c0,2.76,3.02,2.86,3.28,2.86
	c2.18,0,3.33-1.2,3.33-1.4c0-0.12-0.12-0.23-0.26-0.23c-0.05,0-0.11,0-0.16,0.03c-1.22,0.8-2.32,0.8-2.88,0.8
	c-0.07,0-2.57-0.07-2.57-2.06c0-0.84,0.77-1.5,1.55-1.5c0.38,0,0.68,0.11,0.68,0.54c0,0.4-0.35,0.52-0.52,0.59
	C11.34,8.34,11.17,8.32,10.96,8.39z M12.48,5.15c0,0.61,0.5,0.68,0.63,0.68c0.72,0,1.8-1.95,1.8-2.5c0-0.54-0.66-0.79-0.94-0.79
	c-0.21,0-0.4,0.07-0.58,0.28C13.03,3.19,12.48,4.73,12.48,5.15z M10.19,4.85c0,0.33,0.04,0.68,0.42,0.68c1.33,0,2.07-3.3,2.07-3.47
	c0-0.45-0.31-0.77-0.8-0.77c-0.38,0-0.7,0.28-0.89,0.58C10.5,2.62,10.19,3.96,10.19,4.85z M8.67,0.82c-0.79,0-1.15,0.94-1.15,1.67
	c0,1.19,0.49,3.96,1.13,3.96c0.82,0,1.19-3.28,1.19-3.94c0-0.19-0.02-0.37-0.05-0.49C9.67,1.55,9.34,0.82,8.67,0.82z M1.15,9.53
	c-0.12,0-0.21,0.09-0.21,0.19c0,0.31,1.97,1.67,3.99,1.67c0.49,0,3.28-0.37,3.28-2.81c0-1.43-0.85-2.32-2.02-2.32
	c-0.98,0-1.87,0.63-1.87,1.47c0,0.94,0.75,1.36,1.26,1.36c0.33,0,0.85-0.19,0.85-0.49c0-0.12-0.03-0.26-0.19-0.26
	c-0.09,0-0.35,0.18-0.42,0.18c-0.12,0-0.59-0.16-0.59-0.58c0-0.24,0.28-0.77,0.96-0.77c0.24,0,1.15,0.17,1.15,1.17
	c0,1.73-1.69,2.3-2.48,2.3c-0.58,0-1.33-0.09-1.94-0.31c-0.56-0.21-1.36-0.65-1.66-0.77C1.24,9.53,1.19,9.53,1.15,9.53z M6.74,5.43
	c0.23,0,0.42-0.12,0.42-0.38c0-0.11-0.19-3.84-1.69-3.84c-0.07,0-0.8,0.07-0.8,0.87C4.66,2.74,5.71,5.43,6.74,5.43z M2.57,3.31
	c0,0.91,1.24,2.56,1.9,2.56c0.26,0,0.66-0.26,0.66-0.59c0-0.1-0.63-1.34-0.68-1.45C3.93,2.79,3.8,2.55,3.16,2.55
	c-0.09,0-0.17,0.02-0.24,0.05C2.69,2.74,2.57,2.95,2.57,3.31z M1.12,7.1c-0.29,0-0.49,0.4-0.49,0.65c0,1.24,3.04,2.04,3.8,2.04
	c0.14,0,0.23-0.05,0.23-0.12c0-0.07-0.7-0.56-0.91-0.68C3.37,8.72,1.62,7.1,1.12,7.1z M1.75,4.52c-0.46,0-0.58,0.44-0.58,0.73
	c0,0.75,1.17,2.04,1.99,2.04c0.37,0,0.63-0.32,0.63-0.59c0-0.3-1.27-1.92-1.45-2.02C2.18,4.59,1.95,4.52,1.75,4.52z"/>
</svg>
			<br/> Each beautifully wrapped box contains the following goodies:

		</div>









		<div class="centred width_50 phablet_width_80  tablet_width_70 mob_full_width">
			<%- include("partials/html_flexbox_benefits") %>
		</div>



























		<article class="centred phablet_width_80 width_50 tablet_width_70 padding_bottom_large mob_width_95">

			<p class="junge font_large centred padding_bottom_medium">
				From the moment your guests see the envelope, they&rsquo;ll know it&rsquo;s something special&hellip;
			</p>


			<div class="top_dotted"></div>

			<svg viewBox="-0.33 -0.18 18 13" class="shell bgwhite">

	<path d="M15.6,3.33c0,0.09-0.12,0.49-0.12,0.58c0,0.12,0.1,0.21,0.35,0.23c0.33,0.03,0.94,0.4,0.94,1.05
	c0,0.4-0.11,0.68-0.19,0.84c-0.05,0.07-0.07,0.14-0.07,0.19c0,0.07,0.04,0.14,0.09,0.21c0.16,0.19,0.61,0.51,0.61,1.22
	c0,0.73-0.86,1.45-0.86,1.69c0,0.31,0.26,0.23,0.26,0.57c0,0.91-1.95,2.25-4.14,2.25c-2.27,0-3.02-0.82-3.25-1.06
	c-0.16-0.19-0.37-0.28-0.58-0.28s-0.42,0.07-0.61,0.24c-0.3,0.24-1.94,1.1-3.18,1.1c-3.04,0-4.82-1.92-4.82-2.56
	c0-0.4,0.42-0.31,0.42-0.66C0.47,8.65,0,8.36,0,7.57c0-0.82,0.37-1.13,0.66-1.31c0.09-0.05,0.12-0.1,0.12-0.19
	c0-0.05-0.04-0.12-0.09-0.19C0.61,5.79,0.44,5.39,0.44,4.97c0-0.7,0.56-0.98,1-1.05C1.73,3.87,1.8,3.73,1.8,3.38
	c0-1.57,0.84-1.57,1.45-1.57c0.12,0,0.25-0.02,0.37-0.07c0.35-0.17,0.37-0.52,0.5-0.73C4.35,0.7,4.75,0.4,5.38,0.4
	c0.49,0,0.85,0.23,1.15,0.42c0.1,0.07,0.19,0.1,0.3,0.1s0.21-0.05,0.3-0.16C7.35,0.49,7.78,0,8.67,0c0.94,0,1.28,0.38,1.55,0.77
	c0.1,0.16,0.24,0.21,0.37,0.21c0.1,0,0.19-0.03,0.26-0.09c0.19-0.16,0.58-0.42,1.12-0.42c0.71,0,1.2,0.54,1.34,1.12
	c0.04,0.16,0.17,0.24,0.33,0.24C14.83,1.73,15.6,2.55,15.6,3.33z M13.49,8.92c-0.52,0.33-1.05,0.68-1.05,0.73
	c0,0.1,0.21,0.16,0.35,0.16c2.18,0,3.63-1.4,3.63-2.02c0-0.25-0.24-0.47-0.52-0.47c-0.21,0-0.45,0.12-0.73,0.35
	C14.75,8.04,14,8.58,13.49,8.92z M13.65,6.95c0,0.19,0.09,0.56,0.4,0.56c0.66,0,1.97-1.36,1.97-2.15c0-0.4-0.38-0.52-0.63-0.52
	c-0.23,0-0.49,0.1-0.71,0.33C14.13,5.74,13.65,6.28,13.65,6.95z M10.96,8.39c-0.12,0.05-0.19,0.19-0.19,0.31
	c0,0.3,0.4,0.45,0.73,0.45c0.47,0,1.38-0.42,1.36-1.46c-0.02-1-0.65-1.48-1.62-1.48S9.09,6.98,9.09,8.6c0,2.76,3.02,2.86,3.28,2.86
	c2.18,0,3.33-1.2,3.33-1.4c0-0.12-0.12-0.23-0.26-0.23c-0.05,0-0.11,0-0.16,0.03c-1.22,0.8-2.32,0.8-2.88,0.8
	c-0.07,0-2.57-0.07-2.57-2.06c0-0.84,0.77-1.5,1.55-1.5c0.38,0,0.68,0.11,0.68,0.54c0,0.4-0.35,0.52-0.52,0.59
	C11.34,8.34,11.17,8.32,10.96,8.39z M12.48,5.15c0,0.61,0.5,0.68,0.63,0.68c0.72,0,1.8-1.95,1.8-2.5c0-0.54-0.66-0.79-0.94-0.79
	c-0.21,0-0.4,0.07-0.58,0.28C13.03,3.19,12.48,4.73,12.48,5.15z M10.19,4.85c0,0.33,0.04,0.68,0.42,0.68c1.33,0,2.07-3.3,2.07-3.47
	c0-0.45-0.31-0.77-0.8-0.77c-0.38,0-0.7,0.28-0.89,0.58C10.5,2.62,10.19,3.96,10.19,4.85z M8.67,0.82c-0.79,0-1.15,0.94-1.15,1.67
	c0,1.19,0.49,3.96,1.13,3.96c0.82,0,1.19-3.28,1.19-3.94c0-0.19-0.02-0.37-0.05-0.49C9.67,1.55,9.34,0.82,8.67,0.82z M1.15,9.53
	c-0.12,0-0.21,0.09-0.21,0.19c0,0.31,1.97,1.67,3.99,1.67c0.49,0,3.28-0.37,3.28-2.81c0-1.43-0.85-2.32-2.02-2.32
	c-0.98,0-1.87,0.63-1.87,1.47c0,0.94,0.75,1.36,1.26,1.36c0.33,0,0.85-0.19,0.85-0.49c0-0.12-0.03-0.26-0.19-0.26
	c-0.09,0-0.35,0.18-0.42,0.18c-0.12,0-0.59-0.16-0.59-0.58c0-0.24,0.28-0.77,0.96-0.77c0.24,0,1.15,0.17,1.15,1.17
	c0,1.73-1.69,2.3-2.48,2.3c-0.58,0-1.33-0.09-1.94-0.31c-0.56-0.21-1.36-0.65-1.66-0.77C1.24,9.53,1.19,9.53,1.15,9.53z M6.74,5.43
	c0.23,0,0.42-0.12,0.42-0.38c0-0.11-0.19-3.84-1.69-3.84c-0.07,0-0.8,0.07-0.8,0.87C4.66,2.74,5.71,5.43,6.74,5.43z M2.57,3.31
	c0,0.91,1.24,2.56,1.9,2.56c0.26,0,0.66-0.26,0.66-0.59c0-0.1-0.63-1.34-0.68-1.45C3.93,2.79,3.8,2.55,3.16,2.55
	c-0.09,0-0.17,0.02-0.24,0.05C2.69,2.74,2.57,2.95,2.57,3.31z M1.12,7.1c-0.29,0-0.49,0.4-0.49,0.65c0,1.24,3.04,2.04,3.8,2.04
	c0.14,0,0.23-0.05,0.23-0.12c0-0.07-0.7-0.56-0.91-0.68C3.37,8.72,1.62,7.1,1.12,7.1z M1.75,4.52c-0.46,0-0.58,0.44-0.58,0.73
	c0,0.75,1.17,2.04,1.99,2.04c0.37,0,0.63-0.32,0.63-0.59c0-0.3-1.27-1.92-1.45-2.02C2.18,4.59,1.95,4.52,1.75,4.52z"/>
</svg>
			<br/>

			<p class="junge font_big padding_top_medium centred">
				It all starts with the envelope.
			</p>

			<p class="junge font_big centred">
				Your envelope is the first thing your guests will see, and the first impression they will have of your big day.
			</p>

			<p>It should surprise, impress and delight them: make them feel excited to open it and find out what's inside.</p>

			<p>It shouldn't feel like a birthday card from Aunt Edith.</p>

			<p>And it shouldn't feel like an afterthought:</p>

			<p class="junge font_big centred">
				You wouldn't wrap a gift badly, so why settle for a dull, plain envelope?
			</p>

			<p>That's why our envelopes come as something of an unexpected surprise:</p>

			<p>Tailor-made by hand, and imprinted with your own monogram, each envelope is optionally adorned with a breathtaking foil seal and printed inside and out with a matching design that co-ordinates beautifully in the same colour as the invitation it contains.</p>

			<p>Each envelope comes individually addressed to your guests: and if you opt for our box-envelopes, your guests really will feel like they are opening an invitation to an important event. </p>

			<p class="junge font_big centred">
				Our highly bespoke envelopes lend an exclusivity to your wedding invitations that will have your guests wondering how you made them.
			</p>

			<p class="junge font_big centred">
				But the envelopes are just the beginning...
			</p>
</article>

		<video muted loop autoplay playsinline src="/images/invitations/ace-of-hearts/low.mp4" class="rounded_corner_20 padding_top_large padding_bottom_small mob_no_rounded mob_full_width phablet_width_70 tablet_width_70 width_40 centred" >
			<source id="first_video_source" type="video/mp4">
			Your browser does not support the video tag.
		</video>
				
				<svg  class="w12px centred"	 viewBox="-0.85 -0.85 8 64">
					<line fill="none" stroke="#000" stroke-width="0.5" x1="3.3" y1="62.3" x2="3.3" y2="3.3"/>
					<rect width="6.6" height="6.6"/>
				</svg>
				
			<p class="width_50 mob_width_95 padding_top_small slant font_normal centred">
			You won't find anything like our exclusive envelopes: too many beautiful invitations are let down by boring unco-ordinating envelopes that leave them feeling unfinished.
				Our co-ordinating envelopes are just one of the many things that your guests won't be able to stop looking at.
			</p>


		<article class="centred phablet_width_80 width_50 tablet_width_70 padding_bottom_large mob_width_95">
			<p class="font_big junge centred">
				Inside, you'll find your wedding invitation protected by layers of tissue paper, light as a feather and again printed and watermarked with your design.
			</p>

			<p class="padding_bottom_large">As well as adding an angelic beauty, it will make your guests feel like they're opening a box containing an expensive of designer shoes rather than just pulling a card from an envelope.</p>

			<%- include("partials/html_chloe_testimonial") %>

				<p>The next step will see your guests removing one of a range of embellishments which add that wow factor:</p>

				<p class="junge font_big centred">
					Whether it's uwrapping the paper sleeve adorned with your monogram, unbuckling the gently glinting diamante ribbon or untying the bow, it all adds to the excitement.
				</p>

				<p>A delicate vellum cover, semi-transparent like a pane of frosted glass, softly mutes your card like a halo: as it falls away, your chosen colours&mdash;printed in solid wax that feels slightly raised as you run your finger over it&mdash;will seem
					even deeper and bolder.</p>

				<p>And the card itself, available in a variety of textures, creates a tactile satisfaction as it reveals the details of your important ceremony. </p>


				<p class="centred junge font_big">
					These are just a few of the little details that make our invitations&mdash; <span class="slant">your invitations</span>&mdash;a cut above the rest.
				</p>

				<p class="centred junge font_big">
					And it's in the little details that the big impressions get made.
				</p>

				<p>But don't take my word for it.</p>

				<p class="padding_bottom_large">if you haven't already ordered your free wedding invitation sample box, don't miss the opportunity to do so now and you judge for yourself.</p>


















		</article>














		<%- include("partials/navigation/footer") %>

			<noscript id="deferred-styles">
				<link href="http://fonts.googleapis.com/css?family=Junge|Cinzel|Raleway:300,300i" rel="stylesheet">
			</noscript>

			<script>
				var loadDeferredStyles = function() {
					var addStylesNode = document.getElementById("deferred-styles");
					var replacement = document.createElement("div");
					replacement.innerHTML = addStylesNode.textContent;
					document.body.appendChild(replacement)
					addStylesNode.parentElement.removeChild(addStylesNode);
				};
				var raf = requestAnimationFrame || mozRequestAnimationFrame ||
					webkitRequestAnimationFrame || msRequestAnimationFrame;
				if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
				else window.addEventListener('load', loadDeferredStyles);
				
				var products = <%- JSON.stringify(products)  %>
				var tag = document.createElement("script");
				tag.src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js";
				tag.async = false
				document.getElementsByTagName("footer")[0].appendChild(tag);

				var tag = document.createElement("script");
				tag.src = "/javascripts/jquery.slides.min.js";
				tag.async = false
				document.getElementsByTagName("footer")[0].appendChild(tag);

				var tag = document.createElement("script");
				tag.src = "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js";
				tag.async = false
				document.getElementsByTagName("footer")[0].appendChild(tag);

				var tag = document.createElement("script");
				tag.src = "http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js";
				tag.async = false
				document.getElementsByTagName("footer")[0].appendChild(tag);

				var tag = document.createElement("script");
				tag.src = "/javascripts/slideshow.js";
				tag.async = false
				document.getElementsByTagName("footer")[0].appendChild(tag);
			</script>

</body>

</html>