<!doctype html>

	<head>

		<%- include("partials/script_google_tag_manager") %>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="/javascripts/isInViewport.min.js"></script>
		<script src="/javascripts/jquery.slides.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>

		<meta name="viewport" content="initial-scale=1,user-scalable=no">
		<link href="http://fonts.googleapis.com/css?family=Junge|Playfair+Display+SC|Playfair+Display:400i|Raleway:200,200i,300,300i,400,400i" rel="stylesheet">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/top_nav.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/forms.css" type="text/css">
	</head>

<body>

	<%- include("partials/script_noscript_gtm") %>
	<%- include("partials/navigation/header") %>

<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5794635"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script><noscript><img src="//bat.bing.com/action/0?ti=5794635&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>

	<div class="centred padding_top_large  phablet_width_90 subhead bring_to_front  font_c phablet_font_aa mob_font_c width_50 tablet_width_80 mobile_width_90 medium_line_spacing ">
 
	Get our beautiful sample box full of goodies, usually worth £7.99,
		<% if (sample) { %>
			for just
			<% if (sample == 0.99) { %>
				99p
			<% } else { %>
				&pound;<%= sample %>
			<% } %>today:
		<% } else { %>
			completely free today:
		<% } %>
	</div>




	<div class="padding_top_small centred phablet_width_80 width_50 tablet_width_70 mobile_width_97 margin_bottom_large">

		<img src="/images/product/samplebox.png" style="width:95%;max-width:450px;" />

		<%- include("partials/html_flexbox_benefits") %>

	<div id="choose_sample" class="width_80 mobile_width_95 centred padding_top_medium rounded_corner_20" style="border:1px solid grey;">

		<div id="sample_slides" class="centred width_95 phablet_width_95 mobile_width_95">

			<% products.forEach(function(product) { %>
				<img style="border-radius:20px;" sizes="(max-width: 1200px) 95vw,100vw" srcset="/images/invitations/<%= product.name %>/collage_700.jpg 700w, /images/invitations/<%= product.name %>/collage_1300.jpg 1300w, /images/invitations/<%= product.name %>/collage_1500.jpg 2000w" alt="Wedding stationery suite" class="rounded_corner_20">
			<% }) %>

		</div>


		<div class="serif_headline font_c letter-spaced padding_top_small padding_bottom_medium" id="sample_name">
			<%= products[0].clean_name %>
		</div>
	</div>

<% if (sample) { %>

	<div class="sans_subhead font_d text_center padding_bottom_medium padding_top_large margin_bottom_2em">
		Just press the PayPal button:
	</div>

	<%- include("partials/html_paypal_button",{ chosen_sample:products[0].clean_name}) %>

<% } else { %>

	<%- include("partials/html_sample_form", { bullets: [2,3], chosen_sample:products[0].clean_name }) %>

 <% } %>



</div>
</div>


		<%- include("partials/navigation/footer") %>
		<%- include("partials/scripts") %>
		<%- include("partials/script_send_sample") %>

</body>

</html>
