<!doctype html>

<head>
	<script>
		(function(w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-59HLPVG');
	</script>
	
	<style>
		<%- include("partials/css_main") %><%- include("partials/css_fonts") %>
		<%- include("partials/css_widths_margins_padding") %>
		#checkout { background-color:#AE0023 }
		#checkout:hover{ background-color: #7A001D }
	</style>
	
	<meta name="viewport" content="initial-scale=1,user-scalable=no">
</head>



<body>

	<%- include("partials/navigation/header") %>







		<div class="padding_top_large"></div>
		
		<div class="video padding_top_large">
			<video muted preload loop autoplay playsinline src="/images/silver/frame_" class="rounded_corner_20 mob_no_rounded mob_full_width phablet_width_70 tablet_width_70 width_50 centred">
			<source id="first_video_source" type="video/mp4">
			Your browser does not support the video tag.
		</video>
		</div>




		<article class="centred phablet_width_80 width_50 tablet_width_70 no_padding padding_bottom_large mob_width_95">

			<p class="junge font_xlarge centred  no_padding both">
				Your photograph. <br/> Printed in silver.
			</p>

			<div class="padding_bottom_large"></div>

			<div class="top_dotted"></div>

			<svg viewBox="-0.33 -0.18 18 13" class="shell bgwhite">

	<path d="M15.6,3.33c0,0.09-0.12,0.49-0.12,0.58c0,0.12,0.1,0.21,0.35,0.23c0.33,0.03,0.94,0.4,0.94,1.05
	c0,0.4-0.11,0.68-0.19,0.84c-0.05,0.07-0.07,0.14-0.07,0.19c0,0.07,0.04,0.14,0.09,0.21c0.16,0.19,0.61,0.51,0.61,1.22
	c0,0.73-0.86,1.45-0.86,1.69c0,0.31,0.26,0.23,0.26,0.57c0,0.91-1.95,2.25-4.14,2.25c-2.27,0-3.02-0.82-3.25-1.06
	c-0.16-0.19-0.37-0.28-0.58-0.28s-0.42,0.07-0.61,0.24c-0.3,0.24-1.94,1.1-3.18,1.1c-3.04,0-4.82-1.92-4.82-2.56
	c0-0.4,0.42-0.31,0.42-0.66C0.47,8.65,0,8.36,0,7.57c0-0.82,0.37-1.13,0.66-1.31c0.09-0.05,0.12-0.1,0.12-0.19
	c0-0.05-0.04-0.12-0.09-0.19C0.61,5.79,0.44,5.39,0.44,4.97c0-0.7,0.56-0.98,1-1.05C1.73,3.87,1.8,3.73,1.8,3.38
	c0-1.57,0.84-1.57,1.45-1.57c0.12,0,0.25-0.02,0.37-0.07c0.35-0.17,0.37-0.52,0.5-0.73C4.35,0.7,4.75,0.4,5.38,0.4
	c0.49,0,0.85,0.23,1.15,0.42c0.1,0.07,0.19,0.1,0.3,0.1s0.21-0.05,0.3-0.16C7.35,0.49,7.78,0,8.67,0c0.94,0,1.28,0.38,1.55,0.77
	c0.1,0.16,0.24,0.21,0.37,0.21c0.1,0,0.19-0.03,0.26-0.09c0.19-0.16,0.58-0.42,1.12-0.42c0.71,0,1.2,0.54,1.34,1.12
	c0.04,0.16,0.17,0.24,0.33,0.24C14.83,1.73,15.6,2.55,15.6,3.33z M13.49,8.92c-0.52,0.33-1.05,0.68-1.05,0.73
	c0,0.1,0.21,0.16,0.35,0.16c2.18,0,3.63-1.4,3.63-2.02c0-0.25-0.24-0.47-0.52-0.47c-0.21,0-0.45,0.12-0.73,0.35
	C14.75,8.04,14,8.58,13.49,8.92z M13.65,6.95c0,0.19,0.09,0.56,0.4,0.56c0.66,0,1.97-1.36,1.97-2.15c0-0.4-0.38-0.52-0.63-0.52
	c-0.23,0-0.49,0.1-0.71,0.33C14.13,5.74,13.65,6.28,13.65,6.95z M10.96,8.39c-0.12,0.05-0.19,0.19-0.19,0.31
	c0,0.3,0.4,0.45,0.73,0.45c0.47,0,1.38-0.42,1.36-1.46c-0.02-1-0.65-1.48-1.62-1.48S9.09,6.98,9.09,8.6c0,2.76,3.02,2.86,3.28,2.86
	c2.18,0,3.33-1.2,3.33-1.4c0-0.12-0.12-0.23-0.26-0.23c-0.05,0-0.11,0-0.16,0.03c-1.22,0.8-2.32,0.8-2.88,0.8
	c-0.07,0-2.57-0.07-2.57-2.06c0-0.84,0.77-1.5,1.55-1.5c0.38,0,0.68,0.11,0.68,0.54c0,0.4-0.35,0.52-0.52,0.59
	C11.34,8.34,11.17,8.32,10.96,8.39z M12.48,5.15c0,0.61,0.5,0.68,0.63,0.68c0.72,0,1.8-1.95,1.8-2.5c0-0.54-0.66-0.79-0.94-0.79
	c-0.21,0-0.4,0.07-0.58,0.28C13.03,3.19,12.48,4.73,12.48,5.15z M10.19,4.85c0,0.33,0.04,0.68,0.42,0.68c1.33,0,2.07-3.3,2.07-3.47
	c0-0.45-0.31-0.77-0.8-0.77c-0.38,0-0.7,0.28-0.89,0.58C10.5,2.62,10.19,3.96,10.19,4.85z M8.67,0.82c-0.79,0-1.15,0.94-1.15,1.67
	c0,1.19,0.49,3.96,1.13,3.96c0.82,0,1.19-3.28,1.19-3.94c0-0.19-0.02-0.37-0.05-0.49C9.67,1.55,9.34,0.82,8.67,0.82z M1.15,9.53
	c-0.12,0-0.21,0.09-0.21,0.19c0,0.31,1.97,1.67,3.99,1.67c0.49,0,3.28-0.37,3.28-2.81c0-1.43-0.85-2.32-2.02-2.32
	c-0.98,0-1.87,0.63-1.87,1.47c0,0.94,0.75,1.36,1.26,1.36c0.33,0,0.85-0.19,0.85-0.49c0-0.12-0.03-0.26-0.19-0.26
	c-0.09,0-0.35,0.18-0.42,0.18c-0.12,0-0.59-0.16-0.59-0.58c0-0.24,0.28-0.77,0.96-0.77c0.24,0,1.15,0.17,1.15,1.17
	c0,1.73-1.69,2.3-2.48,2.3c-0.58,0-1.33-0.09-1.94-0.31c-0.56-0.21-1.36-0.65-1.66-0.77C1.24,9.53,1.19,9.53,1.15,9.53z M6.74,5.43
	c0.23,0,0.42-0.12,0.42-0.38c0-0.11-0.19-3.84-1.69-3.84c-0.07,0-0.8,0.07-0.8,0.87C4.66,2.74,5.71,5.43,6.74,5.43z M2.57,3.31
	c0,0.91,1.24,2.56,1.9,2.56c0.26,0,0.66-0.26,0.66-0.59c0-0.1-0.63-1.34-0.68-1.45C3.93,2.79,3.8,2.55,3.16,2.55
	c-0.09,0-0.17,0.02-0.24,0.05C2.69,2.74,2.57,2.95,2.57,3.31z M1.12,7.1c-0.29,0-0.49,0.4-0.49,0.65c0,1.24,3.04,2.04,3.8,2.04
	c0.14,0,0.23-0.05,0.23-0.12c0-0.07-0.7-0.56-0.91-0.68C3.37,8.72,1.62,7.1,1.12,7.1z M1.75,4.52c-0.46,0-0.58,0.44-0.58,0.73
	c0,0.75,1.17,2.04,1.99,2.04c0.37,0,0.63-0.32,0.63-0.59c0-0.3-1.27-1.92-1.45-2.02C2.18,4.59,1.95,4.52,1.75,4.52z"/>
</svg>
			<br/>

			<p class="junge font_bigger padding_top_medium centred">
				Everyone who sees our hand-foiled, silver metallic photographs reacts with the same mixture of surprise and curiosity:
			</p>

			<p class="junge font_big padding_top_medium centred">
				...is that silver?
			</p>

			<p class="junge font_big padding_top_medium centred">
				...how did you make that?!
			</p>

			<p class="junge font_big padding_top_medium centred">
				...where did you get that made?!
			</p>


			<p>
				Unusual and breathtaking, if you want a gift to make someone feel special, our silver personalised prints are unlike anything anyone's seen before: whether it's a birthday, anniversary or valentine, you've found the perfect present.
			</p>


			<p>
				And if being printed in silver isn't exclusive enough, each print can be adorned with a uniquely designed monogram featuring the names and text of your choice.
			</p>


			<p class="junge font_big padding_top_medium centred">We don't want to shout too loudly that our prices start at just £15.</p>

			<p>Most people think our silver prints cost the earth, so your loved one will feel even more valued when they show it off to their friends and family.</p>



			<div>
				<img src="/images/furniture/007-commerce.svg" class="w50px padding_top_large padding_bottom_medium" />
				<h2 class="average_line_spacing padding_bottom_large">Start placing your order today by following these easy steps&hellip;</h2>
			</div>

			<img src="/images/silver/pointdown.svg" class="w30px padding_bottom_small opacity_4" />
			<img src="/images/silver/pointdown.svg" class="w30px padding_bottom_small opacity_4" />
			<img src="/images/silver/pointdown.svg" class="w30px padding_bottom_small opacity_4" />










			<form class="pure-form pure-form-stacked padding_top_medium" action="https://www.paypal.com/cgi-bin/webscr" id="form" method="POST">

				<img src="/images/silver/1.svg" class="centred w35px padding_top_large padding_bottom_medium" />

				<h4 class="font_large cinzel bottom_solid padding_bottom_small">Choose your size</h4>

				<div class="width_30 left centred mob_full_width">
					<img src="/images/silver/measure.svg" class="w80px padding_top_large" />
				</div>


				<div class="width_70 right mob_full_width">
					<p class="tight_line_spacing padding_bottom_medium mob_text_center">We can print your photograph to fit an A4 or A5 frame. You'll receive a free digital preview to look at on your screen, and we'll work with you to make sure everything looks just how you want it before the silver foiling process begins. Your photo
						can be landscape <span class="slant"> (wide)</span> or portrait <span class="slant">(tall):</span> it doesn't matter.</p>

					<select style="font-size:1.4em;" class="sans mob_full_width" name="size">
					  <option value="A5" selected>A5 £14.99</option> 
					  <option value="A4">A4 £19.99</option>
					</select>
				</div>

				<div class="bottom_dotted padding_top_large both"></div>








				<img src="/images/silver/2.svg" class="centred w50px padding_top_large padding_bottom_medium" />

				<h4 class="font_large cinzel bottom_solid padding_bottom_small">Choose your frame</h4>

				<div class="width_30 left centred mob_full_width">
					<img src="/images/silver/blackframe.svg" class="w80px padding_top_large" />
					<img src="/images/silver/whiteframe.svg" class="w80px padding_top_medium" />
				</div>


				<div class="width_70 right mob_full_width">
					<p class="tight_line_spacing padding_bottom_medium mob_text_center">Your photograph can be mounted in a frame such as the one shown in the video above for a small extra cost. Our frames are simple, elegant and match most decors, and they come in either black or white. They can be hung on the wall, or stood up using
						the built-in stand: ready to go! </p>
					<select style="font-size:1.4em;" class="mob_full_width" name="frame">
			
  <option value="none"  selected>No frame</option>
  <option value="black">Black +£5.00</option> 
  <option value="white">White +£5.00</option>
</select>
				</div>

				<div class="bottom_dotted padding_top_large both"></div>




				<img src="/images/silver/3.svg" class="centred w50px padding_top_large padding_bottom_medium" />

				<h4 class="font_large cinzel bottom_solid padding_bottom_small">Choose your monogram</h4>

				<div class="width_30 left centred mob_full_width">
					<img src="/images/silver/monogram.svg" class="w80px padding_top_large" />
				</div>


				<div class="width_70 right mob_full_width">
					<p class="tight_line_spacing padding_bottom_medium mob_text_center">A monogram is an emblem featuring a name and a date and it's perfect for anniversaries or birthdays. It makes your photograph even more special and personalised. Here are some examples:</p>

					<div class="width_40 padding_bottom_large mob_full_width" style="display:inline-block"><img src="/images/silver/alice.svg" style="width:200px;"></div>
					<div class="width_40  padding_bottom_large mob_full_width" style="display:inline-block"><img src="/images/silver/georgina.svg" style="width:100px;"></div>

					<div class="width_40  padding_bottom_large mob_full_width" style="display:inline-block"><img src="/images/silver/clair.svg" style="width:275px;"></div>

					<div class="width_40  padding_bottom_large mob_full_width" style="display:inline-block"><img src="/images/silver/joanna.svg" style="width:200px;"></div>
					<p class="tight_line_spacing padding_top_small padding_bottom_medium"> We can create a monogram for you and print it on your photograph for an extra £8. Just let us know what you'd like it to say and we'll send a digital preview so you can check everything is how you like it. You'll even get a digital file so you can
						use it in the future on other personalised cards and gifts!</p>
					<p class="tight_line_spacing padding_top_small padding_bottom_medium"> You'll receive a complete list of styles to choose from when you order!</p>
					<select style="font-size:1.4em;" class="mob_full_width" name="monogram">
			
  <option value="no_monogram" selected>I don't want a monogram</option>
  <option value="yes_monogram">Yes please! +£8.00</option> 
</select>
				</div>

				<div class="bottom_dotted padding_top_large both"></div>





				<img src="/images/silver/4.svg" class="centred w200px padding_top_large padding_bottom_medium" />

				<h4 class="font_large cinzel bottom_solid padding_bottom_small">Send us your photograph!</h4>

				<div class="width_30 left centred mob_full_width">
					<img src="/images/silver/camera.svg" class="w80px padding_top_large" />
				</div>


				<div class="width_70 right mob_full_width">
					<p class="tight_line_spacing padding_bottom_medium mob_text_center">Now the hard bit: choosing which photograph to use! You can upload a photo now, email a photo later or if you have an older photo that you'd like us to scan, you can post it to us too. </p>

					<p class="tight_line_spacing padding_top_small padding_bottom_medium mob_text_center slant">Due to the silver foiling process we will convert all images to black and white first and retouch them where appropriate to get you the most impressive results.</p>

					<p class="tight_line_spacing padding_top_small padding_bottom_medium mob_text_center">We'll send you a digital preview before printing so you can check everything is perfect, and if you need any advice we're here to help.</p>

					<p class="tight_line_spacing padding_top_small padding_bottom_large mob_text_center slant">Remember, you don't have to upload a photo now: you can skip this option and upload it later, or email it to us at <a href="mailto:david@casamiento.co.uk" class="bottom_dotted">david@casamiento.co.uk</a>, or even on messenger via our <a href="http://www.facebook.com/dreamsonpaper2016"
						 class="bottom_dotted">Facebook page</a>. You'll receive extra instructions when you've placed your order.</p>

					<input name="photo" type="file" class="font_small mob_full_width" accept="image/*">

				</div>

				<div class="bottom_dotted padding_top_large both"></div>




				<img src="/images/silver/5.svg" class="centred w50px padding_top_large padding_bottom_medium" />

				<h4 class="font_large cinzel bottom_solid padding_bottom_small">Choose delivery</h4>

				<div class="width_30 left centred mob_full_width">
					<img src="/images/silver/truck.svg" class="w80px padding_top_medium" />
				</div>


				<div class="width_70 right mob_full_width">
					<p class="tight_line_spacing mob_text_center">As soon as we've received everything from you and you've approved your preview, your order will be processed in three working days. For example: </p>
					<ul class="tight_line_spacing">
						<li>If you approve everything before 5pm on a Monday, your order will arrive on Friday</li>
						<li class="padding_top_small"> If you approve everything before 5pm on a Friday, your order will arrive the next Friday</li>
						<li class="padding_top_small">If you approve everything before 5pm on a Wednesday, your order will arrive the following Tuesday</li>
					</ul>

					<p class="tight_line_spacing  mob_text_center">We can post to you, or direct to the recipient of your gift. All our photos are wrapped and presented beautifully: they don't come in boring brown jiffy bags. </p>


					<p class="tight_line_spacing padding_bottom_medium mob_text_center slant">If you need something quickly, we can offer express delivery, which means we will post your photo the next working day after you've approved the preview. So if you approve before 5pm on a Monday, you'll receive it on the Wednesday. </p>

					<select style="font-size:1.4em;" class="mob_full_width" name="delivery">
			
  <option value="standard" selected>Standard delivery +£2.95</option>
  <option value="express">Express delivery +£10.00</option> 
</select>
				</div>



				<div class="bottom_dotted padding_top_large both"></div>
				<p class="junge font_big padding_top_medium centred padding_bottom_medium">
					Remember, if you have any questions before placing your order, <a href="tel:01983522971" class="bottom_dotted">call us</a>, <a href="mailto:david@casamiento.co.uk" class="bottom_dotted">email us</a> or send us a <a href="http://www.facebook.com/dreamsonpaper2016"
					 class="bottom_dotted">message on Facebook</a>

				</p>


				<input type="hidden" name="cmd" value="_xclick">
				<input type="hidden" name="business" value="paypal@dizzy.co.uk">
				<input type="hidden" name="item_name" value="A5 with no frame and standard delivery" id="paypal_item">
				<input type="hidden" name="amount" id="paypal_amount" value="17.94">
				<input type="hidden" name="currency_code" value="GBP">

<button type="submit" class="junge white font_big center" style="min-width:300px" id="checkout">
	<img src="/images/furniture/bag.svg" class="padding_top_small padding_bottom_small w60px" />
	<span id="post_text">Place order!</span>
		
	<svg viewBox="0 9.722 100 80.555" id="form_check" class="hidden padding_top_small padding_bottom_small w80px">
		<polygon fill="#FFF" points="84.719,9.722 34.719,59.712 15.282,40.282 0,55.563 34.719,90.277 100,25.005 "/>
	</svg>
	<br/>
			
	<span id="thank_you_text" class="hidden">Thank you!</span>

	<img src="/images/furniture/ellipsis.svg" id="form_sample_spinner" style="margin-top:-3em;margin-bottom:-3em;" class="no_padding hidden"/>
		
</button>
			</form>


		</article>



















		<%- include("partials/navigation/footer") %>

			<noscript id="deferred-styles">
				<link href="http://fonts.googleapis.com/css?family=Junge|Cinzel|Raleway:300,300i" rel="stylesheet">
				<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/forms-min.css">
			</noscript>

			<script>
				var loadDeferredStyles = function() {
					var addStylesNode = document.getElementById("deferred-styles");
					var replacement = document.createElement("div");
					replacement.innerHTML = addStylesNode.textContent;
					document.body.appendChild(replacement)
					addStylesNode.parentElement.removeChild(addStylesNode);
				};
				var raf = requestAnimationFrame || mozRequestAnimationFrame ||
					webkitRequestAnimationFrame || msRequestAnimationFrame;
				if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
				else window.addEventListener('load', loadDeferredStyles);

				var tag = document.createElement("script");
				tag.src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js";
				tag.async = false
				document.getElementsByTagName("footer")[0].appendChild(tag);
				
				var tag = document.createElement("script");
				tag.src = "/javascripts/isInViewport.min.js";
				tag.async = false
				document.getElementsByTagName("footer")[0].appendChild(tag);

				var tag = document.createElement("script");
				tag.src = "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js";
				tag.async = false
				document.getElementsByTagName("footer")[0].appendChild(tag);

				var tag = document.createElement("script");
				tag.src = "http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js";
				tag.async = false
				document.getElementsByTagName("footer")[0].appendChild(tag);

				var tag = document.createElement("script");
				tag.src = "/javascripts/video.js";
				tag.async = false
				document.getElementsByTagName("footer")[0].appendChild(tag);

				var tag = document.createElement("script");
				tag.src = "/javascripts/silver_checkout.js";
				tag.async = false
				document.getElementsByTagName("footer")[0].appendChild(tag);
			</script>
</body>

</html>