<!doctype html>
<html>
	<head>
	
			<% function CasamientoTruncatetitle(title) {
				if (title) {
					 var newtitle =  title.split(" ").slice(0,15);
						return newtitle.join(" ") + "..." 
				}
			}
		%>
		
		<style>
			<%- include("../partials/css_main") %>
			<%- include("../partials/css_fonts") %>
			<%- include("../partials/css_widths_margins_padding") %>
		</style>
		
		<meta name="viewport" content="initial-scale=1,user-scalable=no">
	</head>
	
	<body>
		
	<%- include("../partials/navigation/header", { hide_browse: true}) %>

<div class="width_90 centred mob_full_width padding_top_larger">
		<% var counter = 0; %>
			<% products.forEach(function(group) { %>

				<% if (counter == 1) { %>
<!--

<%- include(".././partials/download_ebook_form") %>
					
					-->
					<% } %>




<div class="left width_60 padding_top_large mob_padding_top_small mob_clear phablet_clear mob_full_width phablet_width_80">

	<h1 class="font_large letter-spaced text_center cinzel padding_bottom_small">
		<a href="/products/<%= group[0].name %>"><%= group[0].clean_name %></a>
	</h1>

	<a href="/products/<%= group[0].name %>">

		<img src="/images/invitations/<%= group[0].name %>/collage_800.jpg" 
			sizes="(max-width: 600px) 95vw, max-width(800px) 80vw, 60vw" 
			
			srcset="/images/invitations/<%= group[0].name %>/collage_800.jpg 700w, 
			/images/invitations/<%= group[0].name %>/collage_1000.jpg 1000w, 
			/images/invitations/<%= group[0].name %>/collage_1500.jpg 1500w,
			/images/invitations/<%= group[0].name %>/collage_800.jpg 300w" 
			
			class="rounded_corner_20 width_90 mob_width_95">
<!--
	<img src="/images/furniture/triangle_up.svg" class="negative_top_margin_small  width_50 centred" />
	
	<div class="light_grey_background small_rounded_border centred sans_subhead average_line_spacing font_e mob_font_e phablet_font_d width_90 mobile_width_95 phablet_full_width">
		<a href="/products/<%= group[0].name %>" class="block small_padding"><span class="hover_1_underline_dotted"><%= group[0].description %> <%= CasamientoTruncatetitle(group[0].description2) %></span></a>
	</div>
	-->
	<div class="top_solid width_90  mob_full_width centred margin_top_large"></div>
	<img src="/images/furniture/flourish.svg" style="position:relative;top:-0.75em;padding:0.25em;" class="bgwhite w50px" />

</div>







<% if (group[1]) { %>
	<div class="width_40 right mob_full_width phablet_clear phablet_centred phablet_width_80 mob_clear">
		<h1 class="cinzel font_large padding_bottom_small letter-spaced text_center product_name">
			<a href="/products/<%= group[1].name %>">
				<%= group[1].clean_name %>
			</a>
		</h1>

		<a href="/products/<%= group[1].name %>">

				<img src="/images/invitations/<%= group[1].name %>/collage_800.jpg" 
				sizes="(max-width: 600px) 95vw, max-width(800px) 80vw, 60vw" 
				
				srcset="/images/invitations/<%= group[1].name %>/collage_800.jpg 700w, 
				/images/invitations/<%= group[1].name %>/collage_1000.jpg 1000w, 
				/images/invitations/<%= group[1].name %>/collage_1500.jpg 1500w,
				/images/invitations/<%= group[1].name %>/collage_800.jpg 300w" 
				
				class="rounded_corner_20 width_90 mob_width_95">
		</a>
<!--
			<img src="/images/furniture/triangle_up.svg" class="negative_top_margin_small width_50 centred" />

			<div class="light_grey_background small_rounded_border centred average_line_spacing width_80 mobile_full_width phablet_full_width sans_subhead font_f mob_font_e phablet_font_d">
				<a href="/products/<%= group[1].name %>" class="block small_padding"><span class=" hover_1_underline_dotted">
					<%= group[1].description %>
					<%= CasamientoTruncatetitle(group[1].description2) %></span>
				</a>
			</div>
			-->
		<div class="top_solid margin_top_large  mob_full_width  width_90 centred"></div>
		<img src="/images/furniture/flourish.svg" style="position:relative;top:-0.75em;padding:0.25em;" class="bgwhite w50px" />
		
	</div>
<% } %>







			<!-- MIDDLE COLUMN -->

			<% if (group[2]) { %>
				<div class="centred clear width_66 phablet_width_80 mob_full_width">
					<h1 class="cinzel font_large padding_bottom_small  letter-spaced">
						<a href="/products/<%= group[2].name %>" class="hover_2_underline_dotted">
							<%= group[2].clean_name %>
						<a>
					</h1>

					<a href="/products/<%= group[2].name %>">
						
						<img src="/images/invitations/<%= group[2].name %>/collage_800.jpg" 
						sizes="(max-width: 600px) 95vw, max-width(800px) 80vw, 60vw" 
						
						srcset="/images/invitations/<%= group[2].name %>/collage_800.jpg 700w, 
						/images/invitations/<%= group[2].name %>/collage_1000.jpg 1000w, 
						/images/invitations/<%= group[2].name %>/collage_1500.jpg 1500w,
						/images/invitations/<%= group[2].name %>/collage_800.jpg 300w" 
						
						class="rounded_corner_20 width_90 mob_width_95">
					</a>

<!--

					<img src="/images/furniture/triangle_up.svg" class="negative_top_margin_small width_50 centred" />

					<div class="light_grey_background small_rounded_border centred sans_subhead average_line_spacing font_d mob_font_e phablet_font_d phablet_full_width">
						<a href-"/products/<%= group[2].name %>" class="block small_padding"><span class="hover_2_underline_dotted"><%= group[2].description %>	<%= CasamientoTruncatetitle(group[2].description2) %></span></a>
					</div>
-->
					<div class="top_solid width_90 mob_full_width centred margin_top_large"></div>
					<img src="/images/furniture/flourish.svg" style="position:relative;top:-0.75em;padding:0.25em;" class="bgwhite w50px" />
				
				</div>
				
				<% } %>
					<% counter = counter + 1 %>
						<% }) %></div>
						
<%- include("../partials/navigation/footer") -%>
	
<noscript id="deferred-styles">
	<link href="http://fonts.googleapis.com/css?family=Junge|Cinzel|Raleway:300,300i" rel="stylesheet">
</noscript>

	<script>

	var loadDeferredStyles = function() {
		var addStylesNode = document.getElementById("deferred-styles");
		var replacement = document.createElement("div");
		replacement.innerHTML = addStylesNode.textContent;
		document.body.appendChild(replacement)
		addStylesNode.parentElement.removeChild(addStylesNode);
	};
	var raf = requestAnimationFrame || mozRequestAnimationFrame ||
		webkitRequestAnimationFrame || msRequestAnimationFrame;
	if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
	else window.addEventListener('load', loadDeferredStyles);
	
	</script>
</body>
</html>