<!doctype html>

<body>
	<head>
	<meta name="viewport" content="initial-scale=1,user-scalable=no"><link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Junge|Playfair+Display+SC|Playfair+Display:400i|Raleway:300,300i,500" rel="stylesheet">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">
	<link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css">
	<link rel="stylesheet" href="/stylesheets/forms.css" type="text/css">
	<link rel="stylesheet" href="/stylesheets/top_nav.css" type="text/css">
	<link rel="stylesheet" href="/stylesheets/browse.css" type="text/css">
</head>
	<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

	-->


	<a href="/"><img src="/images/logo/casamiento_black.svg" class="bring_to_front" id="casamiento_logo" /></a>

	<img src="/images/logo/drms.svg" id="dreams_slogan" class="bring_to_front"/>



	<% var counter = 0; %>
		<% products.forEach(function(group) { %>

			<% if (counter == 1) { %>

				<div class="width_66 centred mobile_full_width">
<img src="/images/horror_icons/car-collision.svg" class="centred padding_top_medium" style="width:50px;"/>
					  <p class="font_c text_center width_50 sans_subhead centred">Avoid expensive mistakes&hellip;</p>

					  <p class="sans font_ee width_66 centred quarter_padding_vertical average_line_spacing">
					    ...empower yourself with knowledge by learning from the devastating mistakes made by others! Download <span style="font-style:italic;">The Invitation Horror Story Book</span>, completely free now and discover:</p>


						  <img src="/images/homepage/ebook_horror.png" style="width:80%;max-width:425px;" class="centred quarter_padding_vertical" />

<div class="width_50 centred mobile_full_width">
					  <ul class="sans font_ee average_line_spacing width_90 centred">
								<img src="/images/horror_icons/black-evil-cat.svg" class="blocked_and_centred padding_top_medium" style="width:35px; opacity:0.7" />
					    <li><span class="emphasised">Three important reasons</span> why you must never order your stationery without asking for this first</li>
					    </ul>
					    </div>
					    
					    
<div class="centred width_50 mobile_full_width">

					  <ul class="sans font_ee average_line_spacing width_90 centred">
		<img src="/images/horror_icons/creepy-ghost.svg" class="blocked_and_centred padding_top_medium" style="width:35px; opacity:0.7" />
					    <li>In our online age, <span class="emphasised">discover the one thing  brides aren't doing</span> any more when it comes to choosing their invitations and why they are living to regret it</li>
					    
					    </ul>
					    </div>
					    
<div class="width_50 centred mobile_full_width">
					  <ul class="sans font_ee average_line_spacing width_90 centred">
		<img src="/images/horror_icons/ghost.svg" class="centred padding_top_medium" style="width:35px; opacity:0.7" />
					    <li>The one thing no one thinks to ask their stationery company: <span class="emphasised">this can spoil the most beautiful invitations</span> if you don't check first</li>
					    </ul>
					    </div>
					    
					    
<div class="centred width_50 mobile_full_width">
					  <ul class="sans font_ee average_line_spacing width_80 centred">
		<img src="/images/horror_icons/halloween.svg" class="blocked_and_centred padding_top_medium" style="width:35px; opacity:0.7" />
					    <li>What you won't know about until your guests tell you:  <span class="emphasised">don't hear it from your guests first,</span> avoid this happening to you </li>

					  </ul></div>
					  </div>
					<form class="pure-form pure-form-stacked width_33 mobile_full_width centred">
						<fieldset>

									<input type="text" name="name" placeholder="Name" autocomplete></input>
								<input type="email" name="email" placeholder="Email address" autocomplete></input>

						</fieldset>

						<button type="submit" class="width_90 mobile_full_width centred pure-button pure-button-primary">Download Free Now!</button>

					</form>
</div>

				</div>
<div class="padding_top_large">
		<div class="top_solid full_width"></div>

		<img src="/images/furniture/flourish.svg" class="flourish" />
</div>
				<% } %>









					<div class="left_column" class="text_center">

						<a href="/products/<%= group[0].name %>"><h1 class="font_b letter-spaced text_center serif_headline quarter_padding_vertical product_name"><%= group[0].clean_name %></h1></a>

						<a href="/products/<%= group[0].name %>">

		<img src="/images/invitations/<%= group[0].name %>/browse.jpg" sizes="(max-width: 900px) 58vw, 50vw" srcset="/images/invitations/<%= group[0].name %>/browse_700.jpg 700w, /images/invitations/<%= group[0].name %>/browse.jpg 1000w, /images/invitations/<%= group[0].name %>/browse_1500.jpg 1500w,/images/invitations/<%= group[0].name %>/browse_300.jpg 300w" style="width:100%;">



					<div class="triangle_up">
						<img src="/images/furniture/triangle_up.svg" class="triangle" style="margin:0 auto;padding:0;display:block;" />
						</div>
						<div class="blurb blocked_and_centred sans_subhead medium_line_spacing text_center no_underline average_line_spacing font_e">
							<%= group[0].description %>
						</div>
	<div class="padding_top_large width_90 centred mobile_full_width">
		<div class="top_solid full_width"></div>
		<img src="/images/furniture/flourish.svg" class="flourish" />
	</div>
			
			
				</div>










				<% if (group[1]) { %>
					<div class="right_column" class="text_center">
						<a href="/products/<%= group[1].name %>"><h1 class="serif_headline letter-spaced font_d text_center quarter_padding_vertical product_name"><%= group[1].clean_name %></h1></a>

						<a href="/products/<%= group[1].name %>">
								<img src="/images/invitations/<%= group[1].name %>/browse.jpg" sizes="(max-width: 900px) 40vw, 30vw" srcset="/images/invitations/<%= group[1].name %>/browse_700.jpg 700w, /images/invitations/<%= group[1].name %>/browse.jpg 1000w, /images/invitations/<%= group[1].name %>/browse_1500.jpg 1500w,/images/invitations/<%= group[1].name %>/browse_300.jpg 300w" style="width:100%;"></a>
					

					<div class="triangle_up">
						<img src="/images/furniture/triangle_up.svg" class="triangle" style="margin:0 auto;padding:0;display:block;" />
						</div>
							<div class="blurb text_center blocked_and_centred average_line_spacing sans_subhead font_f">
								<%= group[1].description %>
							</div>
						<div class="padding_top_large width_90 centred mobile_full_width">
		<div class="top_solid full_width"></div>
		<img src="/images/furniture/flourish.svg" class="flourish" />
	</div>
					</div>
					<% } %>









						<% if (group[2]) { %>
							<div class="middle_column blocked_and_centred text_center">
								<a href="/products/<%= group[2].name %>"><h1 class="font_a serif_headline quarter_padding_vertical letter-spaced product_name"><%= group[2].clean_name %></h1><a>

<a href="/products/<%= group[2].name %>">
		<img src="/images/invitations/<%= group[2].name %>/browse.jpg" sizes="(max-width: 900px) 80vw, 65vw" srcset="/images/invitations/<%= group[2].name %>/browse_700.jpg 700w, /images/invitations/<%= group[2].name %>/browse.jpg 1000w, /images/invitations/<%= group[2].name %>/browse_1500.jpg 1500w,/images/invitations/<%= group[2].name %>/browse_300.jpg 300w" style="width:100%;"></a>
							

					<div class="triangle_up">
						<img src="/images/furniture/triangle_up.svg" class="triangle" style="margin:0 auto;padding:0;display:block;" />
						</div>
									<div class="blurb blocked_and_centred sans_subhead average_line_spacing font_d">
										<%= group[2].description %>

									</div>
								<div class="padding_top_large width_90 mobile_full_width centred">
		<div class="top_solid full_width"></div>
		<img src="/images/furniture/flourish.svg" class="flourish" />
	</div>
							</div>
							<% } %>
								<% counter = counter + 1 %>
									<% }) %>

<%- include("../partials/footer") -%>

</body>
