<!doctype html>

<body>
	<meta name="viewport" content="initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">
	<link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css">
	<link rel="stylesheet" href="/stylesheets/forms.css" type="text/css">
	<link rel="stylesheet" href="/stylesheets/top_nav.css" type="text/css">
	<link rel="stylesheet" href="/stylesheets/browse.css" type="text/css">

	<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

	-->


		<a href="/"><img src="/images/logo/casamiento_black.svg" id="casamiento_logo" /></a>

		<img src="/images/logo/drms.svg" id="dreams_slogan" />



<% var counter = 0; %>
			<% products.forEach(function(group) { %>

<% if (counter == 1) { %>

	<div class="form_panel">
		<img src="/images/homepage/icons/sample.svg" style="width:40px;padding:1em;" />
	<h2 class="small width_small text_center">Get a free sample&hellip;</h2>
		<p>&hellip;of this stunning invitation suite, posted to you in 24 hours, just enter your email and address&hellip;</p>

						<img src="/images/homepage/sample_box.png" style="width:205px;" />

						<form class="pure-form pure-form-stacked">
<fieldset>
								<input type="email" name="email" placeholder="Email address"></input>

								<input type="text" name="address" placeholder="House number or name"></input>

								<input type="text" name="postcode" placeholder="Your postcode"></input>


							</fieldset>

								<button type="submit" style="font-family:'Julius Sans One';font-size:18pt;font-weight:400;margin-bottom:2em;"class="pure-button pure-button-primary">Post my sample now!</button>

						</form>

											<img src="/images/furniture/flourish_line.svg" style="width:85%;display:block;margin:0 auto;" />

					</div>


<% } %>









				<div class="left_column" >

					<a href="/products/<%= group[0].name %>"><h1 class="font_medium text_center product_name"><%= group[0].clean_name %></h1></a>

					<a href="/products/<%= group[0].name %>">

		<img src="/images/invitations/<%= group[0].name %>/browse.jpg" sizes="(max-width: 900px) 58vw, 50vw" srcset="/images/invitations/<%= group[0].name %>/browse_700.jpg 700w, /images/invitations/<%= group[0].name %>/browse.jpg 1000w, /images/invitations/<%= group[0].name %>/browse_1500.jpg 1500w,/images/invitations/<%= group[0].name %>/browse_300.jpg 300w" style="width:100%;">



					<div class="triangle_up">
						<img src="/images/furniture/triangle_up.svg" style="margin:0 auto;padding:0;display:block;" />
						<div class="blurb font_smaller">
							<%= group[0].description %>
						</div>
					</div>
					<img src="/images/furniture/flourish_line.svg" style="width:85%;display:block;margin:0 auto;" />
				</div>










				<% if (group[1]) { %>
					<div class="right_column">
						<a href="/products/<%= group[1].name %>"><h1 class="font_small text_center product_name"><%= group[1].clean_name %></h1></a>

						<a href="/products/<%= group[1].name %>">
								<img src="/images/invitations/<%= group[1].name %>/browse.jpg" sizes="(max-width: 900px) 40vw, 30vw" srcset="/images/invitations/<%= group[1].name %>/browse_700.jpg 700w, /images/invitations/<%= group[1].name %>/browse.jpg 1000w, /images/invitations/<%= group[1].name %>/browse_1500.jpg 1500w,/images/invitations/<%= group[1].name %>/browse_300.jpg 300w" style="width:100%;"></a>
						<div class="triangle_up">
							<img src="/images/furniture/triangle_up.svg" style="margin:0 auto;padding:0;display:block;" />
							<div class="blurb font_tiny">
								<%= group[1].description %>
							</div>
						</div>
						<img src="/images/furniture/flourish_line.svg" style="width:85%;display:block;margin:0 auto;" />
					</div>
					<% } %>











						<% if (group[2]) { %>
							<div class="middle_column">
								<a href="/products/<%= group[2].name %>"><h1 class="font_large text_center product_name"><%= group[2].clean_name %></h1><a>

<a href="/products/<%= group[2].name %>">
		<img src="/images/invitations/<%= group[2].name %>/browse.jpg" sizes="(max-width: 900px) 80vw, 65vw" srcset="/images/invitations/<%= group[2].name %>/browse_700.jpg 700w, /images/invitations/<%= group[2].name %>/browse.jpg 1000w, /images/invitations/<%= group[2].name %>/browse_1500.jpg 1500w,/images/invitations/<%= group[2].name %>/browse_300.jpg 300w" style="width:100%;"></a>
								<div class="triangle_up">
									<img src="/images/furniture/triangle_up.svg" style="margin:0 auto;padding:0;display:block;" />
									<div class="blurb font_small">
										<%= group[2].description %>
									</div>
								</div>
								<img src="/images/furniture/flourish_line.svg" style="width:85%;display:block;margin:0 auto;" />
							</div>
							<% } %>
							<% counter = counter + 1 %>
								<% }) %>




</body>
