<!doctype html>
<html>

<head>
	<title>Casamiento: Personalised wedding invitations</title>
	<meta name="description" content="Casamiento:: Personalised wedding invitations: Ace of Hearts" />

	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">
	<meta name="viewport" content="initial-scale=1,user-scalable=no">

	<link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css">

		<link rel="stylesheet" href="/stylesheets/colour_picker.css" type="text/css">

	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
		}

		#form_panel {
			padding: 0;
			width: 75%;
			text-align: center;
			background-color: #EEE;
			border-radius: 1em;
			margin: 0 auto;
			margin-top: 3em;
		}

		#slides {
			display: none;
		}

		#slides img {
			border-radius: 20px;
			display: block;
			width: 100%;
			border-bottom-left-radius: 0;
		}

		#inner_page_container_casamiento {
			color: #000;
			padding: 0;
			margin: 0 auto;
		}

		#casamiento_logo {
			display: block;
			top: 0;
			left: 0;
			position: fixed;
			width: 182px;
			z-index: 100;
			padding: 5px;
			background-color: white;
			border-bottom-right-radius: 10px;
		}

		#dreams_slogan {
			display: block;
			top: 0;
			right: 0;
			padding-left: 5px;
			background-color: white;
			z-index: 100;
			position: fixed;
			border-bottom-left-radius: 10px;
			width: 180px;
		}

		.slidesjs-pagination {
			margin-top: 0;
		}

		.slidesjs-previous,
		.slidesjs-next {}

		.slidesjs-next {
			margin-left: 10%;
		}

		#left_column {
			width: 70%;
			float: left;
		}

		#right_column {
			text-align: center;
			margin: 0 auto;
			margin-left: 70%;
		}

		#steps {
			width: 90%;
			margin: 0 auto;
			text-align: center;
		}

		.step_divider {
			margin-top: 4em;
			background-color: #F1EFF0;
			height: 40px;
		}

		.step_heading {
			border-bottom: 1px solid black;
			width: 30%;
			margin: 0 auto;
		}

		.embellishment,
		.guest,
		.paper,
		.envelope,
		.guest_envelope {
			display: inline-block;
			text-align: center;
		}

		.embellishment {
			width: 150px;
		}

		.guest_envelope {
		width:55%;}

		.envelope {
			width: 50%;
		}

		.paper {
			width: 100px;
		}

		.guest {
			width: 300px;
		}

		.choice {
			padding-top: 1em;
			padding-bottom: 1em;
			margin-bottom: 2em;
			width: 30%;
			border-radius: 30px;
			margin-right: 2%;
			display: inline-block;
		}
		.choice:hover {
			background-color:#F1EFF0;
			cursor:pointer;
		}

	</style>

</head>

<body>

	<div id="inner_page_container_casamiento">

		<a href="/"><img src="/images/logo/casamiento_black.svg" id="casamiento_logo" /></a>

		<img src="/images/logo/drms.svg" id="dreams_slogan" />

		<div id="left_column">
			<div id="slides">
				<img src="/images/invitations/<%= product.name %>/collage.jpg" />
				<img src="/images/invitations/<%= product.name %>/vellum.jpg" />
				<img src="/images/invitations/<%= product.name %>/pocketfold.jpg" />
				<img src="/images/invitations/<%= product.name %>/envelope.jpg" />
				<img src="/images/invitations/<%= product.name %>/closeup.jpg" />
				<img src="/images/invitations/<%= product.name %>/rsvp.jpg" />
				<img src="/images/invitations/<%= product.name %>/info.jpg" />
			</div>
			<div id="steps">
				<div class="step_divider"></div>
				<img src="/images/furniture/triangle.svg" style="margin:0 auto;padding:0;display:block;" />

				<div class="step_heading">
					<h2>Step 1</h2>
				</div>
				<h5>Choose your embellishment</h5>

				<div style="text-align:center;">
					<div class="choice">
						<img src="/images/product/ribbon.png" class="embellishment" />
						<p style="font-family:Playfair Display;font-size:14pt;">
							Pearl buckle
						</p>
						<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
							To give real impact, our range of buckle embellishments will take your guest's breath away.
						</p>
					</div>
					<div class="choice">
						<img src="/images/product/wrap.png" class="embellishment" />
						<p style="font-family:Playfair Display;font-size:14pt;">
							Ribbon
						</p>
						<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
							To give real impact, our range of buckle embellishments will take your guest's breath away.
						</p>
					</div>
					<div class="choice" style="background-color:#F1EFF0;">
						<img src="/images/product/pearl.png" class="embellishment" />
						<p style="font-family:Playfair Display;font-size:14pt;">
							Wrap
						</p>
						<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
							To give real impact, our range of buckle embellishments will take your guest's breath away.
						</p>
					</div>
				</div>






				<!-- SECTION -->






				<div class="step_divider"></div>
				<img src="/images/furniture/triangle.svg" style="margin:0 auto;padding:0;display:block;" />

				<div class="step_heading">
					<h2>Step 2</h2>
				</div>
				<h5>Choose your texture</h5>

				<div style="text-align:center;">
					<div class="choice">
						<img src="/images/product/paper_plain.svg" class="paper" />
						<p style="font-family:Playfair Display;font-size:14pt;">
							Plain
						</p>
						<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
							To give real impact, our range of buckle embellishments will take your guest's breath away.
						</p>
					</div>
					<div class="choice">
						<img src="/images/product/paper_hammered.svg" class="paper" />
						<p style="font-family:Playfair Display;font-size:14pt;">
							Hammered
						</p>
						<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
							To give real impact, our range of buckle embellishments will take your guest's breath away.
						</p>
					</div>
					<div class="choice" style="background-color:#F1EFF0;">
						<img src="/images/product/paper_pearlescent.svg" class="paper" />
						<p style="font-family:Playfair Display;font-size:14pt;">
							Pearlescent
						</p>
						<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
							To give real impact, our range of buckle embellishments will take your guest's breath away.
						</p>
					</div>

					<div class="choice" style="background-color:#F1EFF0;">
						<img src="/images/product/paper_linen.svg" class="paper" />
						<p style="font-family:Playfair Display;font-size:14pt;">
							Linen
						</p>
						<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
							To give real impact, our range of buckle embellishments will take your guest's breath away.
						</p>
					</div>
				</div>





				<div class="step_divider"></div>
				<img src="/images/furniture/triangle.svg" style="margin:0 auto;padding:0;display:block;" />

				<div class="step_heading">
					<h2>Step 7</h2>
				</div>
				<h5>Choose a colour</h5>
				<p style="font-family:Raleway;width:50%;margin:0 auto;font-weight:300;font-style:italic;font-size:12pt;padding-bottom:2em;">
				The colour of this design can be changed. Please note that colours on screen are only approximate&mdash;the only way you can be certain is to get a free printed colour swatch so you can see exactly how colours look on paper.
				</p>
				<div id="colour_picker"></div>
				<div class="step_divider"></div>
				<img src="/images/furniture/triangle.svg" style="margin:0 auto;padding:0;display:block;" />

				<div class="step_heading">
					<h2>Step 3</h2>
				</div>
				<h5>Choose your guest personalisation</h5>

				<div style="text-align:center;">
					<div class="choice" style="width:45%;">
						<img src="/images/product/guest_no.png" class="guest" />
						<p style="font-family:Playfair Display;font-size:14pt;">
							Guest names blank
						</p>
						<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
							We will not personalise your guest names, but leave invitations and RSVP cards blank for you to write guest names in yourself.
						</p>
					</div>

					<div class="choice" style="background-color:#F1EFF0;width:45%;">
						<img src="/images/product/guest_yes.png" class="guest" />
						<p style="font-family:Playfair Display;font-size:14pt;">
							Guest names printed
						</p>
						<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
							We will personalise and print your guest names for you on invitations and RSVP cards, saving you time and giving a professional, cohesive look.
						</p>
					</div>
				</div>





				<div class="step_divider"></div>
				<img src="/images/furniture/triangle.svg" style="margin:0 auto;padding:0;display:block;" />

				<div class="step_heading">
					<h2>Step 4</h2>
				</div>
				<h5>Choose your envelope style</h5>

				<div style="text-align:center;">
					<div class="choice" style="width:45%;">
						<img src="/images/product/envelope_blank.png" class="envelope" />
						<p style="font-family:Playfair Display;font-size:14pt;">
							Blank envelopes
						</p>
						<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
							We will not personalise your guest names, but leave invitations and RSVP cards blank for you to write guest names in yourself.
						</p>
					</div>

					<div class="choice" style="background-color:#F1EFF0;width:45%;">
						<img src="/images/product/envelope_box_blank.png" class="envelope" />
						<p style="font-family:Playfair Display;font-size:14pt;">
							Blank box envelopes
						</p>
						<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
							We will personalise and print your guest names for you on invitations and RSVP cards, saving you time and giving a professional, cohesive look.
						</p>
					</div>




					<div class="choice" style="width:45%;">
						<img src="/images/product/envelope_pattern.png" class="envelope" />
						<p style="font-family:Playfair Display;font-size:14pt;">
							Matching envelopes
						</p>
						<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
							We will personalise and print your guest names for you on invitations and RSVP cards, saving you time and giving a professional, cohesive look.
						</p>
					</div>


					<div class="choice" style="width:45%;">
						<img src="/images/product/envelope_box_pattern.png" class="envelope" />
						<p style="font-family:Playfair Display;font-size:14pt;">
							Matching box envelopes
						</p>
						<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
							We will personalise and print your guest names for you on invitations and RSVP cards, saving you time and giving a professional, cohesive look.
						</p>
					</div>

				</div>










				<div class="step_divider"></div>
				<img src="/images/furniture/triangle.svg" style="margin:0 auto;padding:0;display:block;" />

				<div class="step_heading">
					<h2>Step 5</h2>
				</div>
				<h5>Choose your card style</h5>

				<div style="text-align:center;">
					<div class="choice" style="width:45%;">
						<img src="/images/product/flat.png" class="guest" /><br/>

						<img src="/images/product/flat_icon.svg" style="width:120px;margin:1em;" />
						<p style="font-family:Playfair Display;font-size:14pt;">
							Flat, printed both sides
						</p>
						<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
							We will not personalise your guest names, but leave invitations and RSVP cards blank for you to write guest names in yourself.
						</p>
					</div>

					<div class="choice" style="background-color:#F1EFF0;width:45%;">
						<img src="/images/product/foldout.png" class="guest" /><br/>

						<img src="/images/product/foldout_icon.svg" style="width:120px;margin:1em;" />
						<p style="font-family:Playfair Display;font-size:14pt;">
							Foldout, printed inside and out
						</p>
						<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
							We will personalise and print your guest names for you on invitations and RSVP cards, saving you time and giving a professional, cohesive look.
						</p>
					</div>
				</div>













								<div class="step_divider"></div>
								<img src="/images/furniture/triangle.svg" style="margin:0 auto;padding:0;display:block;" />

								<div class="step_heading">
									<h2>Step 6</h2>
								</div>
								<h5>Choose your envelope addressing</h5>

								<div style="text-align:center;">
									<div class="choice" style="width:45%;">
										<img src="/images/product/guest_envelope_no.png" class="guest_envelope" />
										<p style="font-family:Playfair Display;font-size:14pt;">
											No addressing
										</p>
										<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
											We will not personalise your guest names, but leave invitations and RSVP cards blank for you to write guest names in yourself.
										</p>
									</div>

									<div class="choice" style="background-color:#F1EFF0;width:45%;">
										<img src="/images/product/guest_envelope_yes.png" class="guest_envelope" />
										<p style="font-family:Playfair Display;font-size:14pt;">
										Guest addresses individually printed
										</p>
										<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
											We will personalise and print your guest names for you on invitations and RSVP cards, saving you time and giving a professional, cohesive look.
										</p>
									</div>
								</div>










																<div class="step_divider"></div>
																<img src="/images/furniture/triangle.svg" style="margin:0 auto;padding:0;display:block;" />

																<div class="step_heading">
																	<h2>Step 7</h2>
																</div>
																<h5>Choose your extras</h5>

																<div style="text-align:center;">
																	<div class="choice" style="width:45%;">
																		<img src="/images/product/rsvp.png" class="guest_envelope" />
																		<p style="font-family:Playfair Display;font-size:14pt;">
																			RSVP cards
																		</p>
																		<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
																			We will not personalise your guest names, but leave invitations and RSVP cards blank for you to write guest names in yourself.
																		</p>
																	</div>



																	<div class="choice" style="background-color:#F1EFF0;width:45%;">
																		<img src="/images/product/map.png" class="guest_envelope" />
																		<p style="font-family:Playfair Display;font-size:14pt;">
																	Map with directions
																		</p>
																		<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
																			We will personalise and print your guest names for you on invitations and RSVP cards, saving you time and giving a professional, cohesive look.
																		</p>
																	</div>
																	<div class="choice" style="width:45%;">
																		<img src="/images/product/info.png" class="guest_envelope" />
																		<p style="font-family:Playfair Display;font-size:14pt;">
																		Information card
																		</p>
																		<p style="font-family:Raleway;font-weight:300;font-style:italic;font-size:12pt;">
																			We will personalise and print your guest names for you on invitations and RSVP cards, saving you time and giving a professional, cohesive look.
																		</p>
																	</div>


																</div>

			</div>
		</div>




















		<div id="right_column">

			<img src="/images/logo/genesis_product.svg" id="genesis" style="border-bottom:1px solid black;padding-bottom:2em;margin-bottom:2em;padding-top:75px;width:150px;" />


			<h1 style="font-family:'TP';font-size:24pt;letter-spacing:0.2em">
				&mdash;<%= product.clean_name %>&mdash;</h1>

			<img src="/images/furniture/shell.svg" style="width:25px;padding:1em;" />
			<h2 style="font-family:'Gara';letter-spacing:0.25em;font-size:16pt;"><%= product.description %></h2>
			<div id="form_panel">
				<img src="/images/homepage/icons/sample.svg" style="width:50px;display:block;margin:0 auto;margin-top:-2em;" />

				<div style="padding:0.5em;">

					<h5><span style="font-weight:600;">Get a FREE sample</span> of this stunning invitation suite posted to you in 24 hours, just enter your email and address&hellip;</p>

					<form class="pure-form form-aligned">
					<div class="pure-control-group">

							<input type="email" name="email" placeholder="Email address"></input>
						</div>

						<div class="pure-control-group">

							<input type="text" name="address" placeholder="House number or name"></input>
						</div>


						<div class="pure-control-group">

							<input type="text" name="postcode" placeholder="Your postcode"></input>
						</div>

						</fieldset>
						<div style="text-align:center;">
							<button type="submit" class="pure-button pure-button-primary">Yes, post my sample now!</button>

						</div>
					</form>
				</div>

				</div>
				<!-- TESTIMONIAL
							-----------------------------------------------------------------------
							-----------------------------------------------------------------------
							-----------------------------------------------------------------------
							-----------------------------------------------------------------------

							-->

				<div class="testimonial_container" style="width:80%;margin-left:10%;margin-right:10%;margin-top:30em;padding-bottom:1em;border-bottom:1px dotted grey;border-top:1px dotted grey;padding-top:1em;">
					<img src="/images/homepage/testimonial_chloe.png" class="testimonial_photo" style="width:60%;"/><br/>
					<img src="/images/homepage/leftquote.svg" class="testimonial_quote_icon" style="float:left;"/>
					<p class="testimonial_quote">It’s all the little touches, the way the envelopes match and the vellum is imprinted with your own design... it just feels and looks so luxurious and my guests were all really impressed as my stationery really did stand out from the crowd.”</p>

					<div style="margin:0 auto;width:50%;padding-left:50%;">
						<p class="testimonial_name">&mdash;<a href="http://www.facebook.com/chlo.campbell">Chloé Corney</a></p>
						<p class="testimonial_date">married January 2016</p>
					</div>

				</div>
			</div>


		</div>
	</div>

<script src="
http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/javascripts/jquery.slides.min.js"></script>
	<script src="/javascripts/libraries/jquery.elevateZoom-3.0.8.min.js"></script>

		<script src="/javascripts/in_groups_of.js"></script>
	<script src="/javascripts/colour_picker.js"></script>
	<script>
		$(function() {

			$("#slides").slidesjs({
				width: 2000,
				height: 1409,

				pagination: {
					active: false
				},
				effect: {
					fade: {
						speed: 2000,
					},
					fade: {
						speed: 2000,
						// [number] Speed in milliseconds of the fade animation.
						crossfade: true
							// [boolean] Cross-fade the transition.
					}
				},


				play: {
					active: false,
					auto: true,
					interval: 2500,
					effect: 'fade'
				},
				navigation: {
					active: false
				},
				callback: {
					loaded: function(n) {
						$('#slides_spinner').hide();
					}
				}
			})
$('#colour_picker').colorPicker({
        default_color: '#000000',
        listen_to: {on:function() {}},
        index: 1
      });
		})
	</script>
</body>

</html>
