<!doctype html>
<html>

<head>
	<title>Casamiento: Personalised wedding invitations: <%= product.clean_name %></title>

	<meta name="description" content="Casamiento: Personalised wedding invitations: <%= product.clean_name %>" />

	<meta name="viewport" content="initial-scale=1,user-scalable=no">

	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">
	<link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/forms.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/top_nav.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/product.css" type="text/css" />

</head>

<body>



		<img src="/images/logo/casamiento_black.svg" id="casamiento_logo" />
		<div id="browse">
			<div id="browse_container">
				<a href="/products"><img src="/images/furniture/browse.svg" id="book" /></a>
				<a href="/products"><span id="browse_link">BROWSE DESIGNS</span></a>
			</div>
		</div>

		<img src="/images/logo/drms.svg" id="dreams_slogan" />







		<div id="left_column">


			<div id="slides">
				<img src="/images/invitations/<%= product.name %>/collage.jpg" />
				<img src="/images/invitations/<%= product.name %>/vellum.jpg" />
				<img src="/images/invitations/<%= product.name %>/pocketfold.jpg" />
				<img src="/images/invitations/<%= product.name %>/envelope.jpg" />
				<img src="/images/invitations/<%= product.name %>/closeup.jpg" />
				<img src="/images/invitations/<%= product.name %>/rsvp.jpg" />
				<img src="/images/invitations/<%= product.name %>/info.jpg" />
			</div>



						<h1 id="product_name" class="text_center">&mdash;<%= product.clean_name %>&mdash;</h1>

						<h2 id="description" class="text_center font_smaller"><%= product.description %></h2>
<div id="steps">
										<img src="/images/furniture/shell.svg" class="shell" />











				<!---------------------------------------------------------
				-------------------------------------------------------
				------------------------------------------------------- EMBELLISHMENTS -->


				<h5>Choose your embellishment</h5>


				<div class="choice choice_embellishment control-group" id="embellishment_ribbon">

					<div class="choice_image"><img src="/images/product/ribbon.png" style="width:80px;" /></div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">
								<input type="radio" name="embellishment" value="ribbon" checked="checked"/>
								<div class="control__indicator"></div>
							</label>
					</div>

					<div class="choice_description">
						<h6>Ribbon</h6>
						<h3>To give real impact, our range of buckle ivembellishments will take your guest's breath away.</h3>
					</div>

				</div>




				<div class="choice choice_embellishment control-group" id="embellishment_pearl">

					<div class="choice_image"><img src="/images/product/pearl.png" style="width:80px;" /></div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

												<input type="radio" value="pearl" name="embellishment" />
												<div class="control__indicator"></div>

											</label>
					</div>
					<div class="choice_description">
						<h6 class="deselected">Pearl buckle</h6>

						<h3>To give real impact, our range of buckle embellishments will take your guest's breath away.</h3>
					</div>

				</div>





				<div class="choice choice_embellishment control-group" id="embellishment_wrap">

					<div class="choice_image">
						<img src="/images/product/wrap.png" style="width:80px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																				<input type="radio" value="wrap" name="embellishment" />
																				<div class="control__indicator"></div>

																			</label>
					</div>
					<div class="choice_description">
						<h6 class="deselected">Paper wrap</h6>

						<h3>To give real impact, our range of buckle embellishments will take your guest's breath away.</h3>
					</div>

				</div>





















				<!---------------------------------------------------------
				-------------------------------------------------------
				------------------------------------------------------- CARD STYLE -->


				<h5>Choose your card format</h5>


				<div class="choice choice_format control-group" id="format_flat">

					<div class="choice_image">
						<img src="/images/product/flat.svg" style="width:100px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																								<input type="radio" name="format" value="flat" checked="checked"/>
																								<div class="control__indicator"></div>

																							</label>
					</div>
					<div class="choice_description">
						<h6>Flat A6</h6>

						<h3>To give real impact, our range of buckle ivembellishments will take your guest's breath away.</h3>
					</div>

				</div>








				<div class="choice choice_format control-group"  id="format_foldout">

					<div class="choice_image">
						<img src="/images/product/foldout.svg" style="width:100px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																												<input type="radio" name="format" value="foldout" />
																												<div class="control__indicator"></div>

																											</label>
					</div>
					<div class="choice_description">
						<h6 class="deselected">Foldout A6</h6>

						<h3>To give real impact, our range of buckle embellishments will take your guest's breath away.</h3>
					</div>

				</div>





















				<!---------------------------------------------------------
				-------------------------------------------------------
				------------------------------------------------------- TEXTURE -->


				<h5>Choose your card texture</h5>


				<div class="choice choice_texture control-group" id="texture_plain">

					<div class="choice_image">
						<img src="/images/product/paper_plain.svg" style="width:70px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																																				<input type="radio" name="texture" value="plain" checked="checked"/>
																																				<div class="control__indicator"></div>

																																			</label>
					</div>
					<div class="choice_description">
						<h6>Smooth plain</h6>

						<h3>Smooth, bright, white card: no texture or gloss.</h3>
					</div>

				</div>




				<div class="choice choice_texture control-group" id="texture_hammered">

					<div class="choice_image">
						<img src="/images/product/paper_hammered.svg" style="width:70px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																																				<input type="radio" value="hammered" name="texture" />
																																				<div class="control__indicator"></div>

																																			</label>
					</div>
					<div class="choice_description">
						<h6 class="deselected">Hammered</h6>

						<h3>To give real impact, our range of buckle ivembellishments will take your guest's breath away.</h3>
					</div>

				</div>



				<div class="choice choice_texture control-group" id="texture_linen">

					<div class="choice_image">
						<img src="/images/product/paper_linen.svg" style="width:70px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																																				<input type="radio" value="linen" name="texture"/>
																																				<div class="control__indicator"></div>

																																			</label>
					</div>
					<div class="choice_description">
						<h6 class="deselected">Linen</h6>

						<h3>Linen paper looks and feels like the fine linen fabric for which it is named. It has a subtle embossed texture with a crosshatch pattern that is reminiscent of a fine linen table cloth.</h3>
					</div>

				</div>





				<div class="choice choice_texture control-group" id="texture_pearlescent">

					<div class="choice_image">
						<img src="/images/product/paper_pearlescent.svg" style="width:70px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																																				<input type="radio" value="pearlescent" name="texture"/>
																																				<div class="control__indicator"></div>

																																			</label>
					</div>
					<div class="choice_description">
						<h6 class="deselected">Pearlescent</h6>

						<h3>This card has a luxurious sheen on both sides that glistens in the light and gives the ink an almost metallic feel&mdash;greys look like silver.</h3>
					</div>

				</div>























				<!---------------------------------------------------------
				-------------------------------------------------------
				------------------------------------------------------- ENVELOPE STYLE -->


				<h5>Choose your envelope style</h5>


				<div class="choice choice_envelopestyle control-group" id="envelopestyle_plain">

					<div class="choice_image">
						<img src="/images/product/envelope_plain.svg" style="width:80px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">
	<input type="radio" name="envelopestyle" value="plain" checked="checked"/>
				<div class="control__indicator"></div>

																																																			</label>
					</div>
					<div class="choice_description">
						<h6>Plain</h6>

						<h3>Unprinted envelopes in the same texture as your chosen card texture above.</h3>
					</div>

				</div>



				<div class="choice choice_envelopestyle control-group" id="envelopestyle_boxplain">

					<div class="choice_image">
						<img src="/images/product/envelope_box_plain.svg" style="width:100px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																																																				<input type="radio" value="boxplain" name="envelopestyle"/>
																																																				<div class="control__indicator"></div>

																																																			</label>
					</div>
					<div class="choice_description">
						<h6 class="deselected">Plain envelope box</h6>

						<h3>An envelope box, unprinted and in the same card texture as your invitation.</h3>
					</div>

				</div>




				<div class="choice choice_envelopestyle control-group" id="envelopestyle_matching">

					<div class="choice_image">
						<img src="/images/product/envelope_matching.png" style="width:80px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																																																				<input type="radio" value="matching" name="envelopestyle"/>
																																																				<div class="control__indicator"></div>

																																																			</label>
					</div>


					<div class="choice_description">
						<h6 class="deselected">Matching</h6>

						<h3>To give real impact, our range of buckle ivembellishments will take your guest's breath away.</h3>
					</div>

				</div>





				<div class="choice choice_envelopestyle control-group" id="envelopestyle_boxmatching">

					<div class="choice_image">
						<img src="/images/product/envelope_box_matching.png" style="width:100px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																																																				<input type="radio"	value="boxmatching" name="envelopestyle"/>
																																																				<div class="control__indicator"></div>

																																																			</label>
					</div>

					<div class="choice_description">
						<h6 class="deselected">Matching envelope box</h6>

						<h3>To give real impact, our range of buckle ivembellishments will take your guest's breath away.</h3>
					</div>

				</div>
















<!---------------------------------------------------------
-------------------------------------------------------
------------------------------------------------------- GUEST ADDRESSING -->



				<h5>Guest personalisation</h5>

				<div class="checkbox_choice choice_addressing control-group" id="addressing">

					<div class="choice_image">
						<img src="/images/product/envelope_yes.svg" style="width:80px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--checkbox">

																																				<input type="checkbox" value="addressing" name="addressing" />
																																				<div class="control__indicator"></div>

																																			</label>
					</div>
					<div class="choice_description">
						<h6 class="deselected">Individual addresses printed</h6>

						<h3>Send us a list of your guest names and addresses and we will individually print each one on the envelope.</h3>
					</div>

				</div>








				<div class="checkbox_choice control-group" id="guests">

					<div class="choice_image">
						<img src="/images/product/guest_yes.svg" style="width:80px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--checkbox">

																																																								<input type="checkbox" value="guests" name="guests" />
																																																								<div class="control__indicator"></div>

																																																							</label>
					</div>
					<div class="choice_description">
						<h6 class="deselected">Guest names printed</h6>

						<h3>Your guest names will be printed on each invitation and any accompanying RSVP cards, just send us a list.</h3>
					</div>

				</div>























				<!---------------------------------------------------------
				-------------------------------------------------------
				------------------------------------------------------- EXTRAS -->


				<h5>Choose your extras</h5>


				<div class="checkbox_choice control-group" id="rsvps">

					<div class="choice_image">
						<img src="/images/product/rsvp.svg" style="width:100px;" />
					</div>


					<div class="radio_button_container">
						<label class="control control--checkbox">

																																				<input type="checkbox" name="rsvps" value="rsvps"/>
																																				<div class="control__indicator"></div>

																																			</label>
					</div>
					<div class="choice_description">
						<h6 class="deselected">RSVP Cards</h6>

						<h3>Make it easy for guests to reply to your invitation.</h3>
					</div>

				</div>








				<div class="checkbox_choice control-group" id="info">

					<div class="choice_image">
						<img src="/images/product/info.svg" style="width:80px;" />
					</div>


					<div class="radio_button_container">
						<label class="control control--checkbox">

																																								<input type="checkbox" name="info" value="info" />
																																								<div class="control__indicator"></div>

																																							</label>
					</div>
					<div class="choice_description">
						<h6 class="deselected">Information cards</h6>

						<h3>Provide essential information for guests about your wedding.</h3>
					</div>

				</div>








				<div class="checkbox_choice control-group" id="map">

					<div class="choice_image">
						<img src="/images/product/map.svg" style="width:90px;" />
					</div>


					<div class="radio_button_container">
						<label class="control control--checkbox">

																																								<input type="checkbox" name="map" value="map"/>
																																								<div class="control__indicator"></div>

																																							</label>
					</div>
					<div class="choice_description">
						<h6 class="deselected">Direction map</h6>

						<h3>Save time and hassle for you and your guests by having a custom drawn map and directions to your venue, avoiding the need to field calls on your big day from lost guests.</h3>
					</div>

				</div>





			</div>

			<div style="text-align:center;">
				<button type="submit" class="pure-button pure-button-primary">Place order now</button>
			</div>



		</div>










		<div id="right_column">


									<img src="/images/logo/genesis_product.svg" id="genesis" style="padding-bottom:3em;" />


									<img src="/images/furniture/flourish_line.svg" style="width:95%;display:block;margin:0 auto;" />



<div class="form_panel" style="padding-top:5em;">
	<img src="/images/homepage/icons/sample.svg" style="width:40px;padding:1em;" />
<h2 class="small width_large text_center">Get a free sample&hellip;</h2>
	<p>&hellip;of this stunning invitation suite, posted to you in 24 hours, just enter your email and address&hellip;</p>

					<img src="/images/homepage/sample_box.png" style="width:240px;" />

					<form class="pure-form form-aligned">

					<div class="pure-control-group">
							<input type="email" name="email" placeholder="Email address"></input>
						</div>

						<div class="pure-control-group">
							<input type="text" name="address" placeholder="House number or name"></input>
						</div>

						<div class="pure-control-group">
							<input type="text" name="postcode" placeholder="Your postcode"></input>
						</div>

						</fieldset>

							<button type="submit" style="font-family:Playfair;font-size:18pt;font-style:italic;font-weight:400;"class="pure-button pure-button-primary">Post my sample now!</button>

					</form>

				</div>








				<!-- TESTIMONIAL
							-----------------------------------------------------------------------
							-----------------------------------------------------------------------
							-----------------------------------------------------------------------
							-----------------------------------------------------------------------

							-->

									<div class="testimonial_container">
										<img src="/images/homepage/testimonial_chloe.png" class="testimonial_photo" />
										<img src="/images/homepage/leftquote.svg" class="testimonial_quote_icon" />
										<p class="testimonial_quote">It&rsquo;s all the little touches, the beauty of the printed envelopes, and the way the vellum is imprinted with your own design&hellip; it just feels and looks so luxurious and bespoke: my guests were all really impressed as my stationery really did
											stand out from the crowd. Plus they didn&rsquo;t break the bank like I thought they would!”</p>

											<p class="testimonial_name">&mdash;Chloé Campbell</p>
											<p class="testimonial_date">married January 2016</p>

									</div>


</div>


	</div>






	<footer style="clear:both;">
		<img src="/images/logo/casamiento_black.svg" style="width:100px;float:left;display:block;" />
		<div style="float:right;">
			<a style="font-size:9pt;font-family:Avenir" href="/privacy.html">Privacy Policy</a></div>
	</footer>




<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/javascripts/jquery.slides.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
<script src="/javascripts/product.js"></script>

	<script>
		$(function() {

			$("#slides").slidesjs({
				width: 2000,
				height: 1409,

				pagination: {
					active: false
				},
				effect: {
					fade: {
						speed: 2000,
					},
					fade: {
						speed: 2000,
						// [number] Speed in milliseconds of the fade animation.
						crossfade: true
							// [boolean] Cross-fade the transition.
					}
				},
				play: {
					active: false,
					auto: true,
					interval: 2500,
					effect: 'fade'
				},
				navigation: {
					active: false
				},
				callback: {
					loaded: function(n) {
						$('#slides_spinner').hide();
					}
				}
			})

		})
	</script>
</body>

</html>
