<!doctype html>
<html>

<head>
	<title>Casamiento: personalised wedding invitations with beautifully customised envelopes: <%= product.clean_name %></title>

	<meta name="description" content="Casamiento: Personalised wedding invitations: <%= product.clean_name %>" />

	<meta name="viewport" content="initial-scale=1,user-scalable=no">
	<meta property="og:url"                content="http://www.casamiento.co.uk/products/<%= product.name %>" />
	<meta property="og:type"               content="product" />
	<meta property="og:title"              content="<%= product.clean_name %> Wedding Stationery Suite" />
	<meta property="og:description"        content="How much does culture influence creative thinking?" />
	<meta property="og:image"              content="http://www.casamiento.co.uk/images/invitations/<%= product.name %>/facebook.jpg" /><link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Junge|Playfair+Display+SC|Playfair+Display:400i|Raleway:300,300i,500" rel="stylesheet">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">
	<link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/forms.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/top_nav.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/product.css" type="text/css" />

</head>

<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>


	<a href="/"><img src="/images/logo/casamiento_black.svg" class="bring_to_front" id="casamiento_logo" /></a>

		<div id="browse_container" class="bring_to_front">
			<a href="/products"><img src="/images/furniture/browse.svg" id="book" /></a>
			<a href="/products" class="sans">BROWSE DESIGNS</a>
		</div>

	<img src="/images/logo/drms.svg" class="bring_to_front" id="dreams_slogan" />






	<div id="left_column">

		<div id="slides">
			<img src="/images/invitations/<%= product.name %>/collage.jpg" sizes="(max-width: 900px) 100vw, 73vw" srcset="/images/invitations/<%= product.name %>/collage_700.jpg 700w, /images/invitations/<%= product.name %>/collage.jpg 1300w, /images/invitations/<%= product.name %>/collage_800.jpg 800w" />
			<img src="/images/invitations/<%= product.name %>/vellum.jpg" sizes="(max-width: 900px) 100vw, 73vw" srcset="/images/invitations/<%= product.name %>/vellum.jpg 1300w, /images/invitations/<%= product.name %>/vellum_800.jpg 800w" />
			<img src="/images/invitations/<%= product.name %>/pocketfold.jpg" sizes="(max-width: 900px) 100vw, 73vw" srcset="/images/invitations/<%= product.name %>/pocketfold.jpg 1300w, /images/invitations/<%= product.name %>/pocketfold_800.jpg 800w" />
			<img src="/images/invitations/<%= product.name %>/envelope.jpg" sizes="(max-width: 900px) 100vw, 73vw" srcset="/images/invitations/<%= product.name %>/envelope.jpg 1300w, /images/invitations/<%= product.name %>/envelope_800.jpg 800w" />
			<img src="/images/invitations/<%= product.name %>/closeup.jpg" sizes="(max-width: 900px) 100vw, 73vw" srcset="/images/invitations/<%= product.name %>/closeup.jpg 1300w, /images/invitations/<%= product.name %>/closeup_800.jpg 800w" />
			<img src="/images/invitations/<%= product.name %>/rsvp.jpg" sizes="(max-width: 900px) 100vw, 73vw" srcset="/images/invitations/<%= product.name %>/rsvp.jpg 1300w, /images/invitations/<%= product.name %>/rsvp_800.jpg 800w" />
			<img src="/images/invitations/<%= product.name %>/info.jpg" sizes="(max-width: 900px) 100vw, 73vw" srcset="/images/invitations/<%= product.name %>/info.jpg 1300w, /images/invitations/<%= product.name %>/info_800.jpg 800w" />
		</div>






<!-- Share icons -->

		<div data-href="http://www.casamiento.co.uk/products/<%= product.name %>" data-layout="button_count" class="fb-share-button" id="facebook">
			<a href="http://www.facebook.com/sharer/sharer.php?u=http://www.casamiento.co.uk/products/<%= product.name %>&title=ChStuff&image=http://www.casamiento.co.uk/images/invitations/<%= product.name %>/collage.jpg">
				<img src="/images/social_media_buttons/facebook-logo-1.svg"  id="facebook_button"  />
			</a>
		</div>

		<div id="pinit">
			<a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonPin" data-pin-media="http://www.casamiento.co.uk/images/invitations/<%= product.name %>/collage.jpg" data-pin-description="<%= product.description %>" data-pin-custom="true">
		    <img src="/images/social_media_buttons/pinterest-2.svg" id="pinterest_button" />
			</a>
		</div>

		<img src="/images/social_media_buttons/share-symbol.svg" id="share_icon" />











<!-- headline and description -->


		<h1 style="clear:both;" class="letter-spaced serif_headline blocked_and_centred font_a width_90 text_center quarter_padding_vertical"><%= product.clean_name %></h1>

		<h2 class="sans_subhead padding_bottom_medium large_line_spacing blocked_and_centred text_center width_80 font_e"><%= product.description %></h2>

		<img src="/images/furniture/shell.svg" class="padding_top_large shell blocked_and_centred" />










<!-- STEPS -->


		<div id="steps" class="width_90 blocked_and_centred">







<%- include("show_embellishments") %>
<%- include("show_card_style") %>
<%- include("show_card_texture") %>
<%- include("show_envelope_style") %>)
<%- include("show_guest_addressing") %>
<%- include("show_extras")%>
<%- include("show_quantities")%>

				<button style="clear:both;" type="submit" class="blocked_and_centred pure-button pure-button-primary">Place order now</button>

				</div>

</div>
		</div>










<div id="right_column" style="overflow:auto" class="text_center">
	
<%- include("show_right_column") %>
	</div>






	<footer style="clear:both;" class="top_dotted">
		<img src="/images/logo/casamiento_black.svg" style="width:80px;float:left;display:block;" />
		<div style="float:right;">
			<a style="font-size:9pt;font-family:Avenir" href="/privacy.html">Privacy Policy</a></div>
	</footer>




<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/javascripts/jquery.slides.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
<script src="/javascripts/product.js"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : 'your-app-id',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
></script>
	<script>
		$(function() {
			$("#slides").slidesjs({
				width: 2000,
				height: 1409,

				pagination: {
					active: false
				},
				effect: {
					fade: {
						speed: 2000,
					},

					fade: {
						speed: 2000,
						// [number] Speed in milliseconds of the fade animation.
						crossfade: false
							// [boolean] Cross-fade the transition.
					}
				},
				play: {
					active: false,
					auto: true,
					interval: 2500,
				},
				navigation: {
					active: false
				},
				callback: {
					loaded: function(n) {
						$('#slides_spinner').hide();
					}
				}
			})

		})
	</script>
</body>

</html>
