<!doctype html>
<html>

<head>
	<title>Casamiento: personalised wedding invitations with beautifully customised envelopes: <%= product.clean_name %></title>

<%- include(".././partials/facebook_pixel") %>
	<meta name="description" content="Casamiento: Personalised wedding invitations: <%= product.clean_name %>" />

	<meta name="viewport" content="initial-scale=1,user-scalable=no">
	<meta property="og:url"                content="http://www.casamiento.co.uk/products/<%= product.name %>" />
	<meta property="og:type"               content="product" />
	<meta property="og:title"              content="<%= product.clean_name %> Wedding Stationery Suite" />
	<meta property="og:description"        content="<%= product.description %>" />
	<meta property="og:image"              content="http://www.casamiento.co.uk/images/invitations/<%= product.name %>/facebook.jpg" /><link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Junge|Playfair+Display+SC|Playfair+Display:400i|Raleway:300,300i,500" rel="stylesheet">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">
	<link rel="stylesheet" href="/stylesheets/forms.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/top_nav.css" type="text/css" />

</head>

<body>


<%- include("../partials/navigation/header") %>

	<div class="left width_70 tablet_full_width phablet_full_width mobile_full_width">

		<div id="slides" class="mobile_full_width">
			
			<img src="/images/invitations/<%= product.name %>/collage.jpg" sizes="(max-width: 600px) 100vw, (max-width: 800px) 100vw, (max-width: 1200px) 100vw,70vw" srcset="/images/invitations/<%= product.name %>/collage_700.jpg 700w, /images/invitations/<%= product.name %>/collage.jpg 1300w, /images/invitations/<%= product.name %>/collage_800.jpg 800w" />
			
			<img src="/images/invitations/<%= product.name %>/vellum.jpg" sizes="(max-width: 600px) 100vw, (max-width: 800px) 100vw, (max-width: 1200px) 100vw,70vw" srcset="/images/invitations/<%= product.name %>/vellum.jpg 1300w, /images/invitations/<%= product.name %>/vellum_800.jpg 800w" />
			
			<img src="/images/invitations/<%= product.name %>/pocketfold.jpg" sizes="(max-width: 600px) 100vw, (max-width: 800px) 100vw, (max-width: 1200px) 100vw,70vw"srcset="/images/invitations/<%= product.name %>/pocketfold.jpg 1300w, /images/invitations/<%= product.name %>/pocketfold_800.jpg 800w" />
			
			<img src="/images/invitations/<%= product.name %>/envelope.jpg" sizes="(max-width: 600px) 100vw, (max-width: 800px) 100vw, (max-width: 1200px) 100vw,70vw" srcset="/images/invitations/<%= product.name %>/envelope.jpg 1300w, /images/invitations/<%= product.name %>/envelope_800.jpg 800w" />
			
			<img src="/images/invitations/<%= product.name %>/closeup.jpg" sizes="(max-width: 600px) 100vw, (max-width: 800px) 100vw, (max-width: 1200px) 100vw,70vw" srcset="/images/invitations/<%= product.name %>/closeup.jpg 1300w, /images/invitations/<%= product.name %>/closeup_800.jpg 800w" />
			
			<img src="/images/invitations/<%= product.name %>/rsvp.jpg" sizes="(max-width: 600px) 100vw, (max-width: 800px) 100vw, (max-width: 1200px) 100vw,70vw" srcset="/images/invitations/<%= product.name %>/rsvp.jpg 1300w, /images/invitations/<%= product.name %>/rsvp_800.jpg 800w" />
			
			<img src="/images/invitations/<%= product.name %>/info.jpg" sizes="(max-width: 600px) 100vw, (max-width: 800px) 100vw, (max-width: 1200px) 100vw,70vw" srcset="/images/invitations/<%= product.name %>/info.jpg 1300w, /images/invitations/<%= product.name %>/info_800.jpg 800w" />
			
		</div>






<!-- Share icons -->

		<div data-href="http://www.casamiento.co.uk/products/<%= product.name %>" data-layout="button_count" class="fb-share-button right" id="facebook">
			<a href="http://www.facebook.com/sharer/sharer.php?u=http://www.casamiento.co.uk/products/<%= product.name %>&title=<%= product.clean_name %>&image=http://www.casamiento.co.uk/images/invitations/<%= product.name %>/collage.jpg">
				<img src="/images/social_media_buttons/facebook-logo-1.svg"  id="facebook_button"  />
			</a>
		</div>

		<div id="pinit" class="right">
			<a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonPin" data-pin-media="http://www.casamiento.co.uk/images/invitations/<%= product.name %>/collage.jpg" data-pin-description="<%= product.description %>" data-pin-custom="true">
		    <img src="/images/social_media_buttons/pinterest-2.svg" id="pinterest_button" />
			</a>
		</div>

		<img src="/images/social_media_buttons/share-symbol.svg" id="share_icon" class="right" />











<!-- headline and description -->


		<h1 class="clear letter-spaced serif_headline centred font_a mob_font_a width_90 text_center mobile_width_95 quarter_padding_vertical"><%= product.clean_name %></h1>

		<h2 class="sans_subhead padding_bottom_medium large_line_spacing centred width_80 mobile_width_95 font_e"><%= product.description %></h2>
		<h2 class="sans_subhead padding_bottom_medium large_line_spacing centred width_80 mobile_width_95 font_ee"><%= product["description2"] %></h2>
		
		
		<h2 class="sans_subhead padding_bottom_small large_line_spacing centred width_80 mobile_width_95 font_e">Starting from £1.49 per invitation</h2>

		<img src="/images/furniture/shell.svg" class="padding_top_large shell" />










<!-- STEPS -->


		<div id="steps" class="width_90 mobile_full_width phablet_full_width tablet_full_width centred">







<%- include("show_card_texture") %>
<%- include("show_card_style") %>
<%- include("show_envelope_style") %>)
<%- include("show_embellishments") %>
<%- include("show_guest_addressing") %>
<%- include("show_extras")%>
<%- include("show_quantities")%>

				<button type="submit" class="clear pure-button pure-button-primary margin_top_2em">Place order now<br/>
				<img src="/images/furniture/bag.svg" class="padding_top_small" style="width:55px;" /></button>

				</div>

</div>
		</div>










<div class="margin_left_70 text_center mobile_full_width phablet_full_width tablet_full_width">
	
	<%- include("show_right_column") %>
	
</div>

<%- include(".././partials/navigation/footer") %>




<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/javascripts/jquery.slides.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
<script src="/javascripts/product.js"></script>

<script type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
></script>
<script>
		$(function() {
			$("#slides").slidesjs({
				width: 2000,
				height: 1409,
				pagination: {
					active: false
				},
				effect: {
					fade: {
						speed: 2000,
					},
					fade: {
						speed: 2000,
						crossfade: false
					}
				},
				play: {
					active: false,
					auto: true,
					interval: 2500,
				},
				navigation: {
					active: false
				},
				callback: {
					loaded: function(n) {
						$('#slides_spinner').hide();
					}
				}
			})
			reformat();
			$(window).resize(function() {
		reformat();
})
		})
		function reformat() {
				if($('body').width() < 1201) {
				jQuery("#sample_container").detach().insertBefore('#steps')
			} else {
				jQuery("#sample_container").detach().insertBefore("#testimonial_1")
			}
		}
	</script>
	<script src="/javascripts/send_sample_form.js"></script>
</body>

</html>
