<!doctype html>
<html>

<head>
	<title>Casamiento: Personalised wedding invitations</title>
	<meta name="description" content="Casamiento:: Personalised wedding invitations: Ace of Hearts" />

	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">
	<meta name="viewport" content="initial-scale=1,user-scalable=no">

	<link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/forms.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/colour_picker.css" type="text/css">

	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
		}

		label {
			display: inline-block;
		}

		#form_panel {
			padding: 0;
			width: 95%;
			text-align: center;
			background-color: #EEE;
			border-radius: 1em;
			margin: 0 auto;
			margin-top: 3em;
		}

		#slides {
			display: none;
		}

		#slides img {
			border-radius: 20px;
			display: block;
			width: 100%;
			border-bottom-left-radius: 0;
		}

		#inner_page_container_casamiento {
			color: #000;
			padding: 0;
			margin: 0 auto;
		}

		#casamiento_logo {
			display: block;
			top: 0;
			left: 0;
			position: fixed;
			width: 182px;
			z-index: 100;
			padding: 5px;
			background-color: white;
			border-bottom-right-radius: 10px;
		}

		#dreams_slogan {
			display: block;
			top: 0;
			right: 0;
			padding-left: 5px;
			background-color: white;
			z-index: 100;
			position: fixed;
			border-bottom-left-radius: 10px;
			width: 180px;
		}

		.slidesjs-pagination {
			margin-top: 0;
		}

		.slidesjs-previous,
		.slidesjs-next {}

		.slidesjs-next {
			margin-left: 10%;
		}

		#left_column {
			width: 75%;
			float: left;
		}

		#right_column {
			text-align: center;
			margin: 0 auto;
			margin-left: 75%;
		}

		.dashed_line {
			width: 75%;
			border-top: 1px dotted black;
			margin: 0 auto;
		}

		#steps {
			width: 90%;
			margin: 0 auto;
			text-align: center;
		}

		.step_divider {
			background-color: #F1EFF0;
			height: 40px;
		}

		.step_heading {
			border-bottom: 1px solid black;
			width: 30%;
			margin: 0 auto;
		}

		.choice_description h6 {
			text-align: left;
			margin: 0;
			font-size: 14pt;
			padding: 0;
		}

		.choice {
			padding-top: 1em;
			padding-bottom: 1em;
			width: 70%;
			border-radius: 30px;
			margin: 0 auto;
			float: none;
			clear: both;
		}

		.choice_description {
			float: left;
			text-align: left;
			width: 50%;
		}

		.choice:hover {
			background-color: #EEE;
			cursor: pointer;
		}

		.choice_image {
			text-align: right;
			width: 15%;
			float: left;
		}

		.radio_button_container {
			float: left;
			width: 10%;
		}

		.radio_button {
			display: block;
			float: right;
		}
	</style>

</head>

<body>

	<div id="inner_page_container_casamiento">

		<a href="/"><img src="/images/logo/casamiento_black.svg" id="casamiento_logo" /></a>

		<img src="/images/logo/drms.svg" id="dreams_slogan" />

		<div id="left_column">
			<div id="slides">
				<img src="/images/invitations/<%= product.name %>/collage.jpg" />
				<img src="/images/invitations/<%= product.name %>/vellum.jpg" />
				<img src="/images/invitations/<%= product.name %>/pocketfold.jpg" />
				<img src="/images/invitations/<%= product.name %>/envelope.jpg" />
				<img src="/images/invitations/<%= product.name %>/closeup.jpg" />
				<img src="/images/invitations/<%= product.name %>/rsvp.jpg" />
				<img src="/images/invitations/<%= product.name %>/info.jpg" />
			</div>
			<div id="steps" style="margin-top:2em;">










				<!-- EMBELLISHMENTS -->


				<div class="step_divider"></div>
				<img src="/images/furniture/triangle.svg" style="margin:0 auto;padding:0;display:block;" />

				<div class="step_heading">
					<h2>Step 1</h2>
				</div>
				<h5>Choose your embellishment</h5>


				<div class="choice control-group">

					<div style="" class="choice_image">
						<img src="/images/product/ribbon.png" class="embellishment" style="width:75px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

								<input type="radio" name="embellishment" checked="checked"/>
								<div class="control__indicator"></div>

							</label>
					</div>
					<div class="choice_description">
						<h6>Ribbon</h6>

						<h3>To give real impact, our range of buckle ivembellishments will take your guest's breath away.</h3>
					</div>

				</div>
				<div class="dashed_line"></div>







				<div class="choice control-group">

					<div style="" class="choice_image">
						<img src="/images/product/pearl.png" class="embellishment" style="width:75px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

												<input type="radio" name="embellishment" />
												<div class="control__indicator"></div>

											</label>
					</div>
					<div class="choice_description">
						<h6>Pearl buckle</h6>

						<h3>To give real impact, our range of buckle embellishments will take your guest's breath away.</h3>
					</div>

				</div>
				<div class="dashed_line"></div>

				<div class="choice control-group">

					<div style="" class="choice_image">
						<img src="/images/product/wrap.png" class="embellishment" style="width:75px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																				<input type="radio" name="embellishment" />
																				<div class="control__indicator"></div>

																			</label>
					</div>
					<div class="choice_description">
						<h6>Paper wrap</h6>

						<h3>To give real impact, our range of buckle embellishments will take your guest's breath away.</h3>
					</div>

				</div>
				<div class="dashed_line"></div>










				<!-- EMBELLISHMENTS -->


				<div class="step_divider"></div>
				<img src="/images/furniture/triangle.svg" style="margin:0 auto;padding:0;display:block;" />

				<div class="step_heading">
					<h2>Step 2</h2>
				</div>
				<h5>Choose your card style</h5>


				<div class="choice control-group">

					<div style="" class="choice_image">
						<img src="/images/product/flat.svg" class="embellishment" style="width:100px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																								<input type="radio" name="card_style" checked="checked"/>
																								<div class="control__indicator"></div>

																							</label>
					</div>
					<div class="choice_description">
						<h6>Flat A6</h6>

						<h3>To give real impact, our range of buckle ivembellishments will take your guest's breath away.</h3>
					</div>

				</div>
				<div class="dashed_line"></div>







				<div class="choice control-group">

					<div style="" class="choice_image">
						<img src="/images/product/foldout.svg" class="embellishment" style="width:100px;" />
					</div>


					<div class="radio_button_container">
						<label class="radio_button control control--radio">

																												<input type="radio" name="card_style" />
																												<div class="control__indicator"></div>

																											</label>
					</div>
					<div class="choice_description">
						<h6>Foldout A6</h6>

						<h3>To give real impact, our range of buckle embellishments will take your guest's breath away.</h3>
					</div>

				</div>
				<div class="dashed_line"></div>


			</div>





		</div>










		<div id="right_column">

			<img src="/images/logo/genesis_product.svg" id="genesis" style="border-bottom:1px solid black;padding-bottom:2em;margin-bottom:2em;padding-top:75px;width:150px;" />


			<h1 style="font-family:'TP';font-size:24pt;letter-spacing:0.2em">
				&mdash;<%= product.clean_name %>&mdash;</h1>

			<img src="/images/furniture/shell.svg" style="width:25px;padding:1em;" />
			<h2 style="font-family:'Gara';letter-spacing:0.25em;font-size:16pt;"><%= product.description %></h2>
			<div id="form_panel">
				<img src="/images/homepage/icons/sample.svg" style="width:50px;display:block;margin:0 auto;margin-top:-2em;" />

				<div style="padding:0.5em;">

					<h5><span style="font-weight:600;">Get a FREE sample</span> of this stunning invitation suite posted to you in 24 hours, just enter your email and address&hellip;</p>

					<img src="/images/homepage/sample_box.png" style="width:200px;" />

					<form class="pure-form form-aligned">
					<div class="pure-control-group">

							<input type="email" name="email" placeholder="Email address"></input>
						</div>

						<div class="pure-control-group">

							<input type="text" name="address" placeholder="House number or name"></input>
						</div>


						<div class="pure-control-group">

							<input type="text" name="postcode" placeholder="Your postcode"></input>
						</div>

						</fieldset>
						<div style="text-align:center;">
							<button type="submit" class="pure-button pure-button-primary">Yes, post my sample now!</button>

						</div>
					</form>
				</div>

				</div>








				<!-- TESTIMONIAL
							-----------------------------------------------------------------------
							-----------------------------------------------------------------------
							-----------------------------------------------------------------------
							-----------------------------------------------------------------------

							-->

				<div class="testimonial_container" style="width:80%;margin-left:10%;margin-right:10%;margin-top:30em;padding-bottom:1em;border-bottom:1px dotted grey;border-top:1px dotted grey;padding-top:1em;">
					<img src="/images/homepage/testimonial_chloe.png" class="testimonial_photo" style="width:60%;"/><br/>
					<img src="/images/homepage/leftquote.svg" class="testimonial_quote_icon" style="float:left;"/>
					<p class="testimonial_quote">It’s all the little touches, the way the envelopes match and the vellum is imprinted with your own design... it just feels and looks so luxurious and my guests were all really impressed as my stationery really did stand out from the crowd.”</p>

					<div style="margin:0 auto;width:50%;padding-left:50%;">
						<p class="testimonial_name">&mdash;<a href="http://www.facebook.com/chlo.campbell">Chloé Corney</a></p>
						<p class="testimonial_date">married January 2016</p>
					</div>

				</div>
			</div>


		</div>
	</div>

<script src="
http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/javascripts/jquery.slides.min.js"></script>
	<script src="/javascripts/libraries/jquery.elevateZoom-3.0.8.min.js"></script>

		<script src="/javascripts/in_groups_of.js"></script>
	<script src="/javascripts/colour_picker.js"></script>
	<script>
		$(function() {

			$("#slides").slidesjs({
				width: 2000,
				height: 1409,

				pagination: {
					active: false
				},
				effect: {
					fade: {
						speed: 2000,
					},
					fade: {
						speed: 2000,
						// [number] Speed in milliseconds of the fade animation.
						crossfade: true
							// [boolean] Cross-fade the transition.
					}
				},


				play: {
					active: false,
					auto: true,
					interval: 2500,
					effect: 'fade'
				},
				navigation: {
					active: false
				},
				callback: {
					loaded: function(n) {
						$('#slides_spinner').hide();
					}
				}
			})
$('#colour_picker').colorPicker({
        default_color: '#000000',
        listen_to: {on:function() {}},
        index: 1
      });
		})
	</script>
</body>

</html>
